{% from "macros.html" import base, version, render_navbar_user with context %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block seo %}
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/img/favicon.ico" rel="shortcut icon"/>
    <link href="/static/landkit/assets/fonts/Feather/feather.css" rel="stylesheet"/>
    <link href="/static/landkit/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet"/>
    <link href="/static/landkit/assets/libs/aos/dist/aos.css" rel="stylesheet"/>
    <link href="/static/landkit/assets/libs/choices.js/public/assets/styles/choices.min.css" rel="stylesheet"/>
    <link href="/static/landkit/assets/libs/flickity-fade/flickity-fade.css" rel="stylesheet"/>
    <link href="/static/landkit/assets/libs/flickity/dist/flickity.min.css" rel="stylesheet"/>
    <link href="/static/landkit/assets/libs/highlightjs/styles/vs2015.css" rel="stylesheet"/>
    <link href="/static/landkit/assets/libs/jarallax/dist/jarallax.css" rel="stylesheet"/>
    <link href="/static/landkit/assets/libs/quill/dist/quill.core.css" rel="stylesheet"/>
    <link href="/static/landkit/assets/css/theme.min.css" rel="stylesheet"/>
    <link href="/static/css/public.css?{{ version() }}" rel="stylesheet"/>
    {% block style %}
    {% endblock %}
</head>
<body style="overflow:visible;">
{% set nav = {
    'title': 'KoiSeed',
    'icon': '/static/img/logo.png',
    'url': '/',
    'children': [
        {
            'title': 'Mega Menu',
            'url': '#!',
            'image': '/static/landkit/assets/img/photos/photo-3.jpg',
            'action': {'title': 'Github<i class="fe fe-github ml-2"></i>', 'remarks': 'We are open source!', 'url': 'https://github.com/okosioc/koiseed'},
            'children': [
                {'title': 'Landings', 'url': '#!', 'children': [
                    {'title': 'Basic', 'url': '/index'},
                    {'title': 'Company', 'url': '/index?design=company'},
                    {'title': 'Service', 'url': '/index?design=service'},
                    {'title': 'Desktop App', 'url': '/index?design=desktop'},
                    {'title': 'Mobile App', 'url': '/index?design=mobile'},
                ]},
                {'title': 'Shops', 'url': '#!', 'children': [
                    {'title': 'Classic', 'url': '/shop/index'},
                    {'title': 'Hero', 'url': '/shop/index-hero'},
                    {'title': 'Asymmetric', 'url': '/shop/index-asymmetric'},
                    {'title': 'Sidenav', 'url': '/shop/index-sidenav'},
                ]},
                {'title': 'Dashboards', 'url': '#!', 'children': [
                    {'title': 'Default', 'url': '/dashboard/index'},
                    {'title': 'Projects', 'url': '/dashboard/index-projects'},
                    {'title': 'Sales', 'url': '/dashboard/index-sales'},
                ]},
            ],
        },
        {
            'title': 'Services',
            'url': '#!',
            'children': [
                {
                    'icon': '<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M8 3v.5A1.5 1.5 0 009.5 5h5A1.5 1.5 0 0016 3.5V3h2a2 2 0 012 2v16a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2h2z" fill="#335EEA" opacity=".3"/><path d="M11 2a1 1 0 012 0h1.5a.5.5 0 01.5.5v1a.5.5 0 01-.5.5h-5a.5.5 0 01-.5-.5v-1a.5.5 0 01.5-.5H11z" fill="#335EEA"/><rect fill="#335EEA" opacity=".3" x="7" y="10" width="5" height="2" rx="1"/><rect fill="#335EEA" opacity=".3" x="7" y="14" width="9" height="2" rx="1"/></g></svg>',
                    'title': 'Documentation', 'subtitle': 'Customizing and building', 'url': 'javascript:coming();',
                },
                {
                    'icon': '<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path d="M5.857 2h7.88a1.5 1.5 0 01.968.355l4.764 4.029A1.5 1.5 0 0120 7.529v12.554c0 1.79-.02 1.917-1.857 1.917H5.857C4.02 22 4 21.874 4 20.083V3.917C4 2.127 4.02 2 5.857 2z" fill="#335EEA" opacity=".3"/><rect fill="#335EEA" x="6" y="11" width="9" height="2" rx="1"/><rect fill="#335EEA" x="6" y="15" width="5" height="2" rx="1"/></g></svg>',
                    'tag': '0.5',
                    'title': 'Changelog', 'subtitle': 'Keep track of changes', 'url': 'javascript:coming();',
                },
            ],
        },
        {
            'title': 'Connect', 'url': '/about', 'children': [
                {'title': 'Contact Us', 'url': '/contact'},
                {'title': 'Help Center', 'url': 'javascript:coming();'},
                {'title': '', 'url': '#!'},
                {'title': 'Privacy Policy', 'url': 'javascript:coming();'},
                {'title': 'Terms and Conditions', 'url': 'javascript:coming();'},
            ],
        },
        {
            'title': 'Blog', 'url': '/blog', 'hide_children': true,  'children': [
                {'url': '/posts'},
                {'url': '/post'},
            ],
        },
    ],
} %}
<nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container">
        <a class="navbar-brand" href="{{ nav.url }}">
            {% if nav.icon %}
                <img src="{{ nav.icon }}" class="navbar-brand-img" alt="...">
            {% else %}
                <h1 class="mb-0">{{ nav.title }}</h1>
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fe fe-x"></i>
            </button>
            <ul class="navbar-nav ml-auto">
                {% for l in nav.children %}
                    {% set ns = namespace(active=false) %}
                    {% if l.url|path == request.path %}
                        {% set ns.active = true %}
                    {% endif %}
                    {% if l.children %}
                        {% for ll in l.children %}
                            {% if ll.url|path == request.path %}
                                {% set ns.active = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {# show sub menu #}
                    {# NOTE: We do not support two level dropdowns, all inner menus will be display in just one click #}
                    {% if l.children and not l.hide_children %}
                        {% if l.children[0].icon %}
                            {# rich menu - each children has icon/subtitle/tag #}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{ 'active' if ns.active }}"
                                   id="navbar-{{ loop.index }}" href="{{ l.url }}"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ l.title }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbar-{{ loop.index }}">
                                    <div class="list-group list-group-flush">
                                        {% for ll in l.children if not ll.hide %}
                                            <a class="list-group-item" href="{{ ll.url }}">
                                                {% if ll.icon[:4] == '<svg' %}
                                                    <div class="icon icon-sm text-primary">
                                                        {{ ll.icon|safe }}
                                                    </div>
                                                {% else %}
                                                    <span class="fe fe-{{ ll.icon }} font-size-lg text-gray-700"></span>
                                                {% endif %}
                                                <div class="ml-4">
                                                    <h6 class="font-weight-bold text-uppercase text-primary mb-0">
                                                        {{ ll.title }}
                                                    </h6>
                                                    <p class="font-size-sm text-gray-700 mb-0">
                                                        {{ ll.subtitle }}
                                                    </p>
                                                </div>
                                                {% if ll.tag %}
                                                    <span class="badge badge-pill badge-primary-soft ml-auto">{{ ll.tag }}</span>
                                                {% endif %}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                        {% elif l.image %}
                            {# mega menu - image and two level inner childrens #}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{ 'active' if ns.active }}"
                                   id="navbar-{{ loop.index }}" href="{{ l.url }}"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ l.title }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-xl p-0"
                                     aria-labelledby="navbar-{{ loop.index }}">
                                    <div class="row no-gutters">
                                        <div class="col-12 col-lg-6">
                                            <div class="dropdown-img-left"
                                                 style="background-image: url({{ l.image }});">
                                                {% if l.action %}
                                                    <h4 class="font-weight-bold text-white mb-0">
                                                        {{ l.action.remarks }}
                                                    </h4>
                                                    <p class="font-size-sm text-white">
                                                        Check it out
                                                    </p>
                                                    <a href="{{ l.action.url }}"
                                                       class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                                                        {{ l.action.title|safe }}
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="dropdown-body">
                                                <div class="row no-gutters">
                                                    {% for ll in l.children if not ll.hide %}
                                                        <div class="col-6">
                                                            <h6 class="dropdown-header">
                                                                {{ ll.title }}
                                                            </h6>
                                                            {% set last_item_cls = '' if loop.revindex0 in [0, 1] else 'mb-5' %}
                                                            {% for lll in ll.children %}
                                                                <a class="dropdown-item {{ last_item_cls if loop.last }}"
                                                                   href="{{ lll.url }}">
                                                                    {{ lll.title }}
                                                                </a>
                                                            {% endfor %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            {# simple menu #}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{ 'active' if ns.active }}"
                                   id="navbar-{{ loop.index }}" href="{{ l.url }}"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ l.title|safe }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbar-{{ loop.index }}">
                                    {% for ll in l.children if not ll.hide %}
                                        {% if ll.title %}
                                            <a class="dropdown-item" href="{{ ll.url }}">{{ ll.title }}</a>
                                        {% else %}
                                            <div class="dropdown-divider"></div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {{ 'active' if ns.active }}" href="{{ l.url }}">
                                {{ l.title|safe }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="nav-item">
                    {% if current_user.is_authenticated %}
                        <a class="nav-link" href="/home">__(Home)</a>
                    {% else %}
                        <a class="nav-link" href="/login">__(Login/Signup)</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
{# global alert #}
{% if current_user.is_authenticated and current_user.status == 'pending' %}
    <div class="alert alert-warning rounded-0 mb-0">
        <div class="container-md">
            <div class="row">
                <div class="col-12">
                    <p class="text-center mb-0">
                        __(You need to verfiy your email address! Please go to your inbox to check the email.)
                        <a id="a-resend" href="javascript:;" onclick="send_verify_email($(this));">__(Resend)</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function send_verify_email(btn) {
            if (btn.is(".doing")) {
                return;
            }
            var msg = "__(Are you sure to resend the verfiy email? Please check your inbox firstly.)";
            var con = window.confirm(msg);
            if (!con) {
                return false;
            }
            //
            btn.addClass("doing");
            var method = btn.is("input") ? "val" : "text";
            var oldLabel = btn[method]();
            btn[method](oldLabel + "...");
            //
            $.post('/send_verify_email', {}, function (result) {
                if (result.error == 0) {
                    showSuccess(result.message);
                } else {
                    showError(result.message);
                }
                btn.removeClass("doing");
                btn[method](oldLabel);
            }, "json");
        }
    </script>
{% endif %}
{# main content, implemented in children templates #}
{% block content %}
{% endblock %}
{# footer #}
{% set footer = {
    'title': 'KoiSeed',
    'subtitle': '基于数据结构及其视图，快速生成跨平台的种子项目',
    'remarks': '2024 © koiseed.com',
    'actions': [
        {'url':'#!', 'image': '/static/landkit/assets/img/icons/social/instagram.svg'},
        {'url':'#!', 'image': '/static/landkit/assets/img/icons/social/facebook.svg'},
        {'url':'#!', 'image': '/static/landkit/assets/img/icons/social/twitter.svg'},
        {'url':'#!', 'image': '/static/landkit/assets/img/icons/social/pinterest.svg'},
    ],
    'children': [
        {
            'title': 'Services',
            'children': [
                {'title': 'Documentation', 'url': 'javascript:coming();'},
                {'title': 'Changelog', 'url': 'javascript:coming();'},
            ]
        },
        {
            'title': 'Connect',
            'children': [
                {'title': 'Contact Us', 'url': '/contact'},
                {'title': 'Help Center', 'url': 'javascript:coming();'},
                {'title': 'Privacy Policy', 'url': 'javascript:coming();'},
                {'title': 'Terms and Conditions', 'url': 'javascript:coming();'},
            ]
        },
    ],
} %}
<footer class="py-8 py-md-11">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                {% if footer.image %}
                    <img src="./assets/img/brand.svg" alt="..." class="footer-brand img-fluid mb-2">
                {% else %}
                    <h3 class="text-dark mb-2">{{ footer.title }}</h3>
                {% endif %}
                <p class="text-gray-700 mb-2">
                    {{ footer.subtitle }}
                </p>
                <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
                    {% for a in footer.actions %}
                        <li class="list-inline-item list-social-item {{ 'mr-3' if not loop.last }}">
                            <a href="{{ a.url }}" class="text-decoration-none">
                                <img src="{{ a.image }}" class="list-social-icon" alt="...">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-md-auto">
                <div class="row">
                    {% for c in footer.children %}
                        <div class="col-12 col-md-6 col-lg">
                            <h6 class="font-weight-bold text-uppercase text-gray-700">
                                {{ c.title }}
                            </h6>
                            <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                                {% for cc in c.children %}
                                    <li class="mb-3">
                                        <a href="{{ cc.url }}" class="text-reset">
                                            {{ cc.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/static/landkit/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/static/landkit/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/landkit/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="/static/landkit/assets/libs/aos/dist/aos.js"></script>
<script src="/static/landkit/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="/static/landkit/assets/libs/countup.js/dist/countUp.min.js"></script>
<script src="/static/landkit/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="/static/landkit/assets/libs/flickity/dist/flickity.pkgd.min.js"></script>
<script src="/static/landkit/assets/libs/flickity-fade/flickity-fade.js"></script>
<script src="/static/landkit/assets/libs/highlightjs/highlight.pack.min.js"></script>
<script src="/static/landkit/assets/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/static/landkit/assets/libs/isotope-layout/dist/isotope.pkgd.min.js"></script>
<script src="/static/landkit/assets/libs/jarallax/dist/jarallax.min.js"></script>
<script src="/static/landkit/assets/libs/jarallax/dist/jarallax-video.min.js"></script>
<script src="/static/landkit/assets/libs/jarallax/dist/jarallax-element.min.js"></script>
<script src="/static/landkit/assets/libs/quill/dist/quill.min.js"></script>
<script src="/static/landkit/assets/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
<script src="/static/landkit/assets/libs/typed.js/lib/typed.min.js"></script>
<script src="/static/landkit/assets/js/theme.min.js"></script>
{# customize scripts #}
<script src="/static/vendor/bootstrap4-notify/bootstrap-notify.min.js"></script>
<script src="/static/js/app.js?{{ version() }}"></script>
{% block script %}
{% endblock %}
</body>
</html>
