Flask >= 2.2
Flask-Caching
Flask-Login
Flask-WTF
email_validator
Flask-Mail
Flask-Babel
pytest
pymongo
fabric
schedule
arrow
py3seed
qiniu
requests
Pillow
# Need to install ffmpeg manually
ffmpeg-python
