werkzeug < 3
Flask >= 2.2
Flask-Caching
Flask-Login
Flask-WTF
email_validator
Flask-Mail
Flask-Babel
pytest
pymongo
fabric
schedule
arrow
py3seed
pyYAML
qiniu
requests
Pillow
# Need to install ffmpeg manually
ffmpeg-python
openai
websocket-client
