<div class="position-relative">
    <div class="shape shape-top shape-fluid-x svg-shim text-white">
        <svg viewBox="0 0 2880 72" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2880 0H0v54.112h720s289.42 40.248 705 0c416.5-37.733 735 0 735 0h720V0z" fill="currentColor"/>
        </svg>
    </div>
</div>
<section class="py-12 py-md-13 bg-cover" style="background-image: url(/static/landkit/assets/img/covers/cover-2.jpg);">
    <div class="container py-md-13">
        <div class="row">
            <div class="col-12 text-center">
                <a href="https://www.youtube.com/watch?v=9I-Y6VQ6tyI"
                   class="btn btn-pill btn-white text-body shadow lift" data-fancybox>
                    <span class="h6 text-uppercase font-weight-bold"><i class="fe fe-play mr-2"></i> Watch video</span>
                </a>
            </div>
        </div>
    </div>
</section>
{% set block = {
    'title': 'Get the app now!',
    'content': 'Travel and share with ease.',
    'images': [
        '/static/landkit/assets/img/buttons/button-app.png',
        '/static/landkit/assets/img/buttons/button-play.png'
    ]
} %}
<section class="pt-6 pt-md-8">
    <div class="container pb-6 pb-md-8 border-bottom">
        <div class="row align-items-center">
            <div class="col-12 col-md">
                <h3 class="font-weight-bold mb-1">{{ block.title }}</h3>
                <p class="text-muted mb-6 mb-md-0">{{ block.content }}</p>
            </div>
            <div class="col-auto">
                <a href="#!" class="text-reset d-inline-block mr-1">
                    <img src="{{ block.images[0] }}" class="img-fluid" alt="..." style="max-width: 155px;">
                </a>
                <a href="#!" class="text-reset d-inline-block">
                    <img src="{{ block.images[1] }}" class="img-fluid" alt="..." style="max-width: 155px;">
                </a>
            </div>
        </div>
    </div>
</section>

