{% set block = {
    'title': 'Stop leaving money on the table.',
    'content': 'Post your home today and start entertaining welcome guests and collecting a paycheck without ever lifting a finger.',
    'image': '/static/landkit/assets/img/covers/cover-8.jpg',
    'action': {
        'url': '#!',
        'title': 'Get Started',
        'icon': 'fe fe-arrow-right'
    }
} %}
<section data-jarallax data-speed=".8" class="py-12 py-md-14 overlay overlay-black overlay-80 jarallax"
         style="background-image: url({{ block.image }});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h1 class="text-white">{{ block.title }}</h1>
                <p class="font-size-lg text-white-80 mb-6 mb-md-8">{{ block.content }}</p>
                <a href="{{ block.action.url }}" class="btn btn-pill btn-primary lift">
                    {{ block.action.title }} <i class="{{ block.action.icon }} ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>
