{% set block = {
    'title': '快速生成跨平台的种子项目。',
    'content': '基于数据结构及其视图，可快速生成跨平台的种子项目。通过简单的方式定义业务所需的数据结构以及相互关系，无需考虑存储细节，支持主流数据库。',
    'images': [
        '/static/landkit/assets/img/screenshots/ui/analytics-2.png',
        '/static/landkit/assets/img/screenshots/ui/analytics-1.png',
        '/static/landkit/assets/img/screenshots/ui/analytics-3.png',
    ],
} %}
<section class="pt-8 pt-md-11 bg-gray-200">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6 col-lg-5 order-md-2">
                <div class="d-flex flex-column w-md-130 mb-6 mb-md-0">
                    <img class="img-fluid rounded shadow align-self-start" data-jarallax-element="-20"
                         src="{{ block.images[0] }}" alt="..."
                         style="min-height: 1px; max-width: 50%; margin-left: 40%;">
                    <img class="img-fluid rounded shadow align-self-start" data-jarallax-element="-50"
                         src="{{ block.images[1] }}" alt="..."
                         style="min-height: 1px; max-width: 50%; margin-top: -35%;">
                    <img class=" img-fluid rounded shadow align-self-center" data-jarallax-element="-80"
                         src="{{ block.images[2] }}" alt="..."
                         style="min-height: 1px; max-width: 50%; margin-top: -20%;">
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-1 pt-md-12">
                <h1>{{ block.title }}</h1>
                <p class="font-size-lg text-gray-700 mb-6">{{ block.content }}</p>
            </div>
        </div>
    </div>
</section>
{% set block = {
    'title': '数据结构定义与项目模板结合。',
    'content': '为数据结构定义直观的视图，可生成跨平台的种子项目，如网站、小程序、iOS和Android应用等。生成的种子项目符合最佳实践且易于维护，并通过自动合并的机制实现了代码生成与定制开发的平衡。',
    'action': {
        'url': 'coming();',
        'title': '了解更多',
    }
} %}
<section class="py-8 py-md-11 bg-gray-200">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-6 img-skewed img-skewed-right">
                <div class="card rounded-lg bg-black mb-6 mb-md-0 img-skewed-item screenshot">
                    <div class="card-header border-white-10">
                        <div class="d-flex">
                            <span class="bg-danger rounded-circle" style="width: 10px; height: 10px;"></span>
                            <span class="bg-warning rounded-circle ml-1" style="width: 10px; height: 10px;"></span>
                            <span class="bg-success rounded-circle ml-1" style="width: 10px; height: 10px;"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <code class="highlight" data-toggle="typed"
                              data-options='{"backSpeed":2, "strings": ["&gt;&nbsp;$&nbsp;npm&nbsp;install<br/><span class=\"text-success\">Everything&nbsp;is&nbsp;installed</span><br/><br/>&gt;&nbsp;$&nbsp;gulp<br/><span class=\"text-success\">scss&nbsp;watching</span><br/><span class=\"text-success\">LiveReload&nbsp;started</span><br/><span class=\"text-success\">Opening&nbsp;localhost:3000</span><br/><br/>&gt;&nbsp;$&nbsp;that&#x2019;s&nbsp;it<br/><span class=\"text-success\">Yup,&nbsp;that&#x2019;s&nbsp;it.</span>"]}'
                              style="min-height: 183px;"></code>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <h2>{{ block.title }}</h2>
                <p class="font-size-lg text-gray-700">{{ block.content }}</p>
                <a class="font-weight-bold text-decoration-none" href="{{ block.action.url }}">
                    {{ block.action.title }} <i class="fe fe-arrow-right ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>
