{% set block = {
    'tag': 'Pricing',
    'title': 'Our pricing is incredibly simple and flexible.',
    'content': 'Companies of all sizes need access to Dashkit, so we have a flexible pricing system for any size of project or company.',
    'children': [
        {
            'title': 'Standard',
            'vals': [29, 49],
            'unit': 'mo',
            'cls': 'success',
            'children': [
                {
                    'title': 'Single project use',
                },
                {
                    'title': 'All components included',
                },
                {
                    'title': 'All pages included',
                },
                {
                    'title': '6 months of support',
                },
            ],
        },
        {
            'title': 'Extended',
            'vals': [49, 69],
            'unit': 'mo',
            'cls': 'dark',
            'children': [
                {
                    'title': 'Single project use',
                },
                {
                    'title': 'All components included',
                },
                {
                    'title': 'All pages included',
                },
                {
                    'title': '6 months of support',
                },
                {
                    'title': 'Unlimited users',
                },
                {
                    'title': 'Free hugs',
                },
            ],
        }
    ]
} %}
<section class="pt-8 py-md-11">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
            <span class="badge badge-pill badge-success-soft mb-3">
                <span class="h6 text-uppercase">{{ block.tag }}</span>
            </span>
                <h2>{{ block.title | safe }}</h2>
                <p class="lead text-gray-700">{{ block.content }}</p>
                <form class="d-flex align-items-center justify-content-center mb-7 mb-md-9">
                    <span class="text-muted">Annual</span>
                    <div class="custom-control custom-switch mx-3">
                        <input type="checkbox" class="custom-control-input" id="billingSwitch" data-toggle="price"
                               data-target=".price">
                        <label class="custom-control-label" for="billingSwitch"></label>
                    </div>
                    <span class="text-muted">Monthly</span>
                </form>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for child in block.children %}
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="card card-border card-border-xl border-{{ child.cls }} shadow-light-lg mb-6 mb-md-0 lift lift-lg">
                        <div class="card-body">
                            <h6 class="font-weight-bold text-uppercase text-center text-{{ child.cls }} mb-5">{{ child.title }}</h6>
                            <div class="d-flex justify-content-center">
                                <span class="h2 mb-0 mt-2">$</span>
                                <span class="price display-2 mb-0" data-annual="{{ child.vals[0] }}"
                                      data-monthly="{{ child.vals[1] }}">{{ child.vals[0] }}</span>
                                <span class="h2 align-self-end mb-1">/{{ child.unit }}</span>
                            </div>
                            <p class="text-center text-muted mb-6 mb-md-8">per seat</p>
                            {% for c in child.children %}
                                <div class="d-flex">
                                    <span class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                                        <i class="fe fe-check"></i>
                                    </span>
                                    <p>
                                        {{ c.title }}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
