{% set block = {
    'tag': 'Testimonials',
    'title': 'Used by your favorite companies',
    'content': 'Many of the greatest startups in the world are already using Landkit to help them get work done and solve their communication needs.',
    'children': [
        {
            'content': '"Our team turned to Landkit to solve our communication issues and it has been such a pleasure. Now that we\'re all on it we can never look back."',
            'author': 'Casey Fyfe of Airbnb',
            'image': '/static/landkit/assets/img/covers/cover-1.jpg',
        },
        {
            'title': 'Airbnb',
            'content': 'Uses Landkit to keep their remote teams from around the world in sync.',
            'image': '/static/landkit/assets/img/brands/logotype/airbnb.svg',
            'color': '#FF5A5F'
        },
        {
            'title': 'Netflix',
            'content': 'Uses Landkit to document their processes for acquiring shows.',
            'image': '/static/landkit/assets/img/brands/logotype/netflix.svg',
            'color': '#B81D24'
        },
        {
            'title': 'Coinbase',
            'content': 'Uses Landkit to share their brand assets across their teams.',
            'image': '/static/landkit/assets/img/brands/logotype/coinbase.svg',
            'color': '#0081C9'
        },
        {
            'title': 'Stripe',
            'content': 'Uses Landkit to plan their product development with engineering.',
            'image': '/static/landkit/assets/img/brands/logotype/stripe.svg',
            'color': '#6772E5'
        },
    ],
} %}
{% set first = block.children[0] %}
<section data-jarallax data-speed=".8" class="py-15 overlay overlay-black overlay-60 jarallax"
         style="background-image: url({{ first.image }});">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <blockquote class="blockquote mb-0">
                    <p class="h2 text-white">{{ first.content }}</p>
                    <footer class="blockquote-footer text-white-50 mb-0">{{ first.author }}</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
        <svg viewBox="0 0 2880 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M720 28H0v28h2880V28h-720S1874 0 1440 0 720 28 720 28z" fill="currentColor"/>
        </svg>
    </div>
</div>
<section class="py-8 py-md-11">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
            <span class="badge badge-pill badge-success-soft mb-3">
              <span class="h6 text-uppercase">{{ block.tag }}</span>
            </span>
                <h2 class="font-weight-bold">{{ block.title }}</h2>
                <p class="font-size-lg text-gray-700 mb-9">{{ block.content }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="flickity-viewport-visible pt-2 pb-2"
                     data-flickity='{"cellAlign": "left", "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "contain": true}'>
                    {% for child in block.children[1:] %}
                        <div class="col-12 col-md-5 col-lg-4">
                            <div class="card card-border shadow-light-lg lift lift-lg"
                                 style="border-top-color: {{ child.color }}">
                                <div class="card-body text-center">
                                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto" >
                                        <img src="{{ child.image }}" style="color: {{ child.color }}">
                                    </div>
                                    <p class="text-gray-700">{{ child.content }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>