{% set block = {
    'title': 'Beautiful analytics built with Dashkit',
    'subtitle': '',
    'content': 'Intelligent developers use our Dashkit theme to build their internal tools and client admin applications. Save yourself time and money.',
    'image': '/static/landkit/assets/img/screenshots/desktop/dashkit.jpg',
    'actions': [
        {
            'title': 'Start for free',
            'url': '#!',
            'cls': 'btn btn-primary mr-1 lift'
        },
        {
            'title': 'Learn more',
            'url': '#!',
            'cls': 'btn btn-primary-soft lift'
        }
    ]
} %}
<section class="position-relative py-8 py-md-11 bg-light">
    <div class="shape shape-fluid-x shape-blur-1 svg-shim text-gray-200">
        <svg viewBox="0 0 723 569" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M703.969 241.602l-.006-.003C716.081 262.97 723 287.677 723 314c0 68.917-47.425 126.757-111.42 142.665L246.7 556.937C226.465 564.729 204.481 569 181.5 569 81.26 569 0 487.74 0 387.5c0-34.256 9.49-66.296 25.985-93.633l-.016.008L141.512 77.548C162.753 33.305 207.123 2.273 258.951.12l.008-.12h251.04l.003.01c41.848.557 78.081 24.378 96.356 59.12l.001-.005 97.61 182.477z"
                  fill="currentColor"></path>
        </svg>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 order-md-2">
                <div class="img-skewed img-skewed-left mb-8 mb-md-0">
                    <img src="{{ block.image }}" alt="..." class="screenshot img-fluid mw-md-130"
                         data-aos="img-skewed-item-left" data-aos-delay="100">
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-1" data-aos="fade-up">
                <h1 class="display-3">{{ block.title }}</h1>
                <p class="lead text-muted mb-6 mb-md-8">{{ block.content }}</p>
                {% for action in block.actions %}
                    <a href="{{ action.url }}" class="{{ action.cls }}">
                        {{ action.title }} <i class="fe fe-arrow-right ml-3"></i>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
