{% set block = {
    'title': 'Teamwork Made Easy.',
    'content': 'Forward-thinking businesses use Landkit to create collaborative workspaces for their projects.',
    'action': {
        'url': '#!',
        'title': 'Create your workspace'
    },
    'cls': 'primary',
    'children': [
        {
            'title': 'Conversations',
            'content': 'Communicate with your team in public or private chats with individuals or groups.',
            'image': '/static/landkit/assets/img/illustrations/illustration-4.png'
        },
        {
            'title': 'Unified',
            'content': 'Keep everything in one place and feel at peace and organized rather than scattered.',
            'image': '/static/landkit/assets/img/illustrations/illustration-8.png'
        },
        {
            'title': 'Analytics',
            'content': 'Keep track of what\'s happening in your company from a centralized dashboard.',
            'image': '/static/landkit/assets/img/illustrations/illustration-7.png'
        },
        {
            'title': 'Permissions',
            'content': 'Control who has access to which projects and data through our control panel.',
            'image': '/static/landkit/assets/img/illustrations/illustration-6.png'
        },
    ],
} %}
<section class="py-10 py-md-14 bg-{{ block.cls }}">
    <div class="shape shape-blur-3 svg-shim text-white">
        <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)"/>
            <defs>
                <linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68"
                                gradientUnits="userSpaceOnUse">
                    <stop stop-color="currentColor" stop-opacity=".075"/>
                    <stop offset="1" stop-color="currentColor" stop-opacity="0"/>
                </linearGradient>
            </defs>
        </svg>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h1 class="display-2 font-weight-bold text-white">{{ block.title }}</h1>
                <p class="lead text-white mb-8">{{ block.content }}</p>
                <a href="{{ block.action.url }}" class="btn btn-white shadow lift">{{ block.action.title }}</a>
            </div>
        </div>
    </div>
</section>
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
        </svg>
    </div>
</div>
<section class="pt-8 pt-md-10 pb-3" id="welcome-3">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <a href="#welcome-3" class="btn btn-white btn-rounded-circle shadow mt-n12 mt-md-n14"
                   data-toggle="smooth-scroll">
                    <i class="fe fe-arrow-down"></i>
                </a>
            </div>
        </div>
        <div class="row">
            {% for child in block.children %}
                <div class="col-12 col-lg-6">
                    <div class="row align-items-center mb-8">
                        <div class="col-4 col-lg-5">
                            <img src="{{ child.image }}" alt="..." class="img-fluid">
                        </div>
                        <div class="col-8 col-lg-7">
                            <h3 class="font-weight-bold mb-2">{{ child.title }}</h3>
                            <p class="text-gray-700 mb-0">{{ child.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
