{% set block = {
    'title': 'Chat with <span class="text-primary">friends.</span><br>Anywhere in the world.',
    'content': 'Keep in touch with your friends and family with free international chats, calls, and even games. Landkit connects you with the world.',
    'images': [
        '/static/landkit/assets/img/screenshots/mobile/home.jpg',
        '/static/landkit/assets/img/screenshots/mobile/rental.jpg'
    ],
    'action': {
        'title': 'Text link',
        'url': '#'
    }
} %}
<section class="pt-6 pt-md-8">
    <div class="container">
        <div class="row align-items-center justify-content-center justify-content-md-between">
            <div class="col-10 col-sm-8 col-md-6 order-md-2">
                <div class="device-combo device-combo-iphonex-iphonex mb-6 mb-md-0">
                    {% for image in block.images %}
                        <div class="device device-iphonex" data-aos="fade-left">
                            <img src="{{ image }}" class="device-screen" alt="...">
                            <img src="/static/landkit/assets/img/devices/iphonex.svg" class="img-fluid" alt="...">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5" data-aos="fade-right">
                <h1 class="font-weight-bold">
                    {{ block.title | safe }}
                </h1>
                <p class="font-size-lg text-muted mb-6">
                    {{ block.content }}
                </p>
                <form class="mb-6 mb-md-8 mb-md-0 order-md-1">
                    <div class="form-row">
                        <div class="col">
                            <input type="url" class="form-control bg-light border-0">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">
                                {{ block.action.title }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
