/* gallery & carousel */

.gallery {
    position: relative;
}

.gallery a {
    display: block;
    position: relative;
    height: 220px;
    margin: 0 0.5rem 0.5rem 0;
    float: left;
}

.gallery a img {
    width: auto;
    height: 100%;
}

.gallery a img:focus,
.gallery a img:hover {
    opacity: .75;
    filter: alpha(opacity=75);
}

.f-carousel .f-carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-carousel .f-carousel__slide img {
    max-width: 100%;
    max-height: 100%;
}

/* editorjs */

.rte-display-group .ce-header,
.rte-input-group .ce-header {
    padding: 0.5em 0 0.5rem;
}

.rte-display-group .cdx-block,
.rte-input-group .cdx-block {
    padding: 0.5em 0;
}

.rte-display-group .codex-editor__redactor {
    padding-bottom: 0 !important;
}

.rte-display-group .image-tool__caption {
    border: 0;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    color: #95aac9;
}

.rte-display-group .tc-wrap--readonly {
    margin-top: 0;
}

.rte-display-group .cdx-nested-list__item:not(:last-child),
.rte-input-group .cdx-nested-list__item:not(:last-child) {
    padding-bottom: 0.5rem;
}

.rte-display-group .cdx-quote {
    border-left: 5px solid #2c7be5;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
}

.rte-display-group .cdx-quote__text {
    border: 0;
    box-shadow: none;
    min-height: auto;
    padding-top: 0;
    padding-bottom: 0;
}

.rte-display-group .cdx-quote__caption {
    border: 0;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    color: #95aac9;
}
