{% extends "layout-public-demo.html" %}
{% set title = _('Index') %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% set hero = page.hero %}
    <section class="pt-6 pt-md-8">
        <div class="container">
            <div class="row align-items-center justify-content-center justify-content-md-between">
                <div class="col-10 col-sm-8 col-md-6 order-md-2">
                    <div class="device-combo device-combo-iphonex-iphonex mb-6 mb-md-0">
                        {% for image in hero.images %}
                            <div class="device device-iphonex" data-aos="fade-left">
                                <img src="{{ image }}" class="device-screen" alt="...">
                                <img src="/static/landkit/assets/img/devices/iphonex.svg" class="img-fluid" alt="...">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5" data-aos="fade-right">
                    <h1 class="font-weight-bold">
                        {{ hero.title | safe }}
                    </h1>
                    <p class="font-size-lg text-muted mb-6">
                        {{ hero.subtitle }}
                    </p>
                    <form class="mb-6 mb-md-8 mb-md-0 order-md-1">
                        <div class="form-row">
                            <div class="col">
                                <input type="url" class="form-control bg-light border-0">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary">
                                    {{ hero.action.title }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% set intro = page.intro.children[0] %}
    <section class="pt-8 pt-md-11">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-6 mb-5 mb-md-0">
                    <div class="row">
                        <div class="col-6 mr-n5">
                            <img src="{{ intro.images[0] }}" alt="..." class="img-fluid mb-4 rounded"
                                 data-aos="fade-right" data-aos-delay="100">
                            <img src="{{ intro.images[1] }}" alt="..." class="img-fluid rounded"
                                 data-aos="fade-right" data-aos-delay="150">
                        </div>
                        <div class="col-6 mt-8">
                            <img src="{{ intro.images[2] }}" alt="..." class="img-fluid mb-4 rounded"
                                 data-aos="fade-right">
                            <img src="{{ intro.images[3] }}" alt="..." class="img-fluid rounded"
                                 data-aos="fade-right" data-aos-delay="50">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5" data-aos="fade-left">
                    <h2 class="font-weight-bold">{{ intro.title }}</h2>
                    <p class="font-size-lg text-muted mb-4">{{ intro.content }}</p>
                    <a href="{{ intro.action.url }}" class="btn btn-outline-primary">{{ intro.action.text }}</a>
                </div>
            </div>
        </div>
    </section>
    {% set intro = page.intro.children[1] %}
    <section class="py-8 py-md-11">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-6 col-lg-7 order-md-2">
                    <img src="{{ intro.image }}" alt="..." class="img-fluid mb-6 mb-md-8 mb-md-0" data-aos="fade-left">
                </div>
                <div class="col-12 col-md-6 col-lg-5 order-md-1" data-aos="fade-right">
                    <h2 class="font-weight-bold">{{ intro.title }}</h2>
                    <p class="font-size-lg text-muted mb-0">{{ intro.content }}</p>
                </div>
            </div>
        </div>
    </section>
    <div class="position-relative">
        <div class="shape shape-top shape-fluid-x svg-shim text-white">
            <svg viewBox="0 0 2880 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2880 0H0v54.112h720s289.42 40.248 705 0c416.5-37.733 735 0 735 0h720V0z" fill="currentColor"/>
            </svg>
        </div>
    </div>
    {% set intro = page.intro.children[2] %}
    <section class="py-12 py-md-13 bg-cover" style="background-image: url({{ intro.image }});">
        <div class="container py-md-13">
            <div class="row">
                <div class="col-12 text-center">
                    <a href="https://www.youtube.com/watch?v=9I-Y6VQ6tyI"
                       class="btn btn-pill btn-white text-body shadow lift" data-fancybox>
                        <span class="h6 text-uppercase font-weight-bold"><i class="fe fe-play mr-2"></i> Watch video</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% set action = page.action %}
    <section class="pt-6 pt-md-8">
        <div class="container pb-6 pb-md-8 border-bottom">
            <div class="row align-items-center">
                <div class="col-12 col-md">
                    <h3 class="font-weight-bold mb-1">{{ action.title }}</h3>
                    <p class="text-muted mb-6 mb-md-0">{{ action.content }}</p>
                </div>
                <div class="col-auto">
                    <a href="#!" class="text-reset d-inline-block mr-1">
                        <img src="{{ action.images[0] }}" class="img-fluid" alt="..." style="max-width: 155px;">
                    </a>
                    <a href="#!" class="text-reset d-inline-block">
                        <img src="{{ action.images[1] }}" class="img-fluid" alt="..." style="max-width: 155px;">
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}