{% extends "layout-public-demo.html" %}
{% set title = _('Index') %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% set hero = page.hero %}
    <section class="pt-4 pt-md-11">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2">
                    <img src="{{ hero.image }}"
                         class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up"
                         data-aos-delay="100">
                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">
                    <h1 class="display-3 text-center text-md-left">{{ hero.title|safe }}
                    </h1>
                    <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                        {{ hero.subtitle }}
                    </p>
                    <div class="text-center text-md-left">
                        {% for a in hero.actions %}
                            <a href="{{ a.url }}" class="btn btn-{{ a.cls }} shadow lift{{ ' mr-1' if not loop.last }}">
                                {{ a.title|safe }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-8 py-md-11">
        <div class="container">
            <div class="row">
                {% for c in hero.children %}
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="{{ 50*loop.index0 }}">
                        <div class="icon text-success mb-3">
                            <img src="{{ c.icon }}" width="48px" height="48px">
                        </div>
                        <h3>
                            {{ c.title }}
                        </h3>
                        <p class="text-muted{{ ' mb-6' if not loop.last }} mb-md-0">
                            {{ c.content }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% set intro = page.intro.children[0] %}
    <section class="pt-8 pt-md-11 border-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                <span class="badge badge-pill badge-primary-soft mb-3">
                    <span class="h6 text-uppercase">{{ intro.tag }}</span>
                </span>
                    <h1>
                        {{ intro.title|safe }}
                    </h1>
                    <p class="lead text-gray-700 mb-7 mb-md-9">
                        {{ intro.content }}
                    </p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-12 col-md-6 col-lg-7">
                    <div class="mb-8 mb-md-0">
                        <img src="{{ intro.image }}" alt="..."
                             class="{{ intro.cls }} img-fluid mw-md-100 float-right mr-md-6 mb-6 mb-md-0">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    {% for c in intro.children %}
                        <div class="d-flex">
                            <div class="badge badge-lg badge-rounded-circle badge-primary-soft mt-1">
                                <span>{{ loop.index }}</span>
                            </div>
                            <div class="ml-5">
                                <h3>
                                    {{ c.title }}
                                </h3>
                                <p class="text-gray-700 mb-6">
                                    {{ c.content }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% set intro = page.intro.children[1] %}
    <section class="py-8 py-md-11">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                <span class="badge badge-pill badge-primary-soft mb-3">
                    <span class="h6 text-uppercase">{{ intro.tag }}</span>
                </span>
                    <h2>
                        {{ intro.title|safe }}
                    </h2>
                    <p class="font-size-lg text-gray-700 mb-6">
                        {{ intro.content }}
                    </p>
                    <div class="row">
                        {% for c in intro.children %}
                            <div class="col-lg-6">
                                <div class="d-flex">
                                    <div class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                                        <i class="fe fe-check"></i>
                                    </div>
                                    <p>
                                        {{ c.title }}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <img src="{{ intro.image }}" alt="..." class="img-fluid mw-md-130">
                </div>
            </div>
        </div>
    </section>
    {% set test = page.test %}
    <section class="py-8 py-md-11 border-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h2>
                        {{ test.title }}
                    </h2>
                    <p class="font-size-lg text-muted mb-7 mb-md-9">
                        {{ test.subtitle }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-row shadow-light-lg mb-6">
                        <div class="row no-gutters">
                            <div class="col-12 col-md-6">
                                <div class="card-img-slider"
                                     data-flickity='{"fade": true, "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'>
                                    {% for c in test.children %}
                                        <a class="card-img-left w-100 bg-cover"
                                           style="background-image: url({{ c.image }});" href="#!">
                                            <img src="{{ c.image }}" alt="..." class="img-fluid d-md-none invisible">
                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
                                    <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 position-md-static">
                                <div class="position-md-static"
                                     data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}'
                                     id="blogSlider">
                                    {% for c in test.children %}
                                        <div class="w-100">
                                            <div class="card-body">
                                                <blockquote class="blockquote text-center mb-0">
                                                    <div class="row justify-content-center mb-5 mb-md-7">
                                                        <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                                                            {% if c.icon %}
                                                                <img src="{{ c.icon }}" class="img-fluid"/>
                                                            {% else %}
                                                                <span>{{ c.title }}</span>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <p class="mb-5 mb-md-7">
                                                        “{{ c.content }}”
                                                    </p>
                                                    <footer class="blockquote-footer">
                                                        <span class="h6 text-uppercase">{{ c.author }}</span>
                                                    </footer>
                                                </blockquote>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="position-relative mt-n10">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
            <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z"
                      fill="currentColor"/>
            </svg>
        </div>
    </div>
    {% set price = page.price %}
    <section class="py-8 py-md-11 bg-gray-200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h1>
                        {{ price.title }}
                    </h1>
                    <p class="lead text-gray-700 mb-7 mb-md-9">
                        {{ price.subtitle }}
                    </p>
                </div>
            </div>
            <div class="row align-items-center no-gutters">
                {% for c in price.children %}
                    <div class="col-12 col-md-6 {{ 'ml-md-n3' if not loop.first }}">
                        <div class="card rounded-lg shadow-lg mb-6 mb-md-0" style="{{ 'z-index:1;' if loop.first }}"
                             data-aos="fade-up"
                             data-aos-delay="{{ 100*loop.index0 }}">
                            <div class="card-body py-6 py-md-8">
                                <div class="row justify-content-center">
                                    <div class="col-12 col-xl-9">
                                        <div class="text-center mb-5">
                                        <span class="badge badge-pill badge-primary-soft">
                                            <span class="h6 font-weight-bold text-uppercase">{{ c.tag }}</span>
                                        </span>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            {% if c.title %}
                                                <span class="price display-4 mb-1">{{ c.title }}</span>
                                            {% else %}
                                                <span class="h2 mb-0 mt-2">{{ c.unit }}</span>
                                                <span class="price display-2 mb-0">{{ c.value }}</span>
                                                <span class="h2 align-self-end mb-1">/mo</span>
                                            {% endif %}
                                        </div>
                                        <p class="text-center text-muted mb-6 mb-md-8">
                                            {{ c.subtitle or '' }}
                                        </p>
                                        {% if c.content %}
                                            <p class="lead text-center text-muted">
                                                {{ c.content }}
                                            </p>
                                        {% else %}
                                            {% for cc in c.children %}
                                                <div class="d-flex">
                                                    <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                                                        <i class="fe fe-check"></i>
                                                    </div>
                                                    <p>
                                                        {{ cc.title }}
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <a href="{{ c.action.url }}" class="card-btn btn btn-block btn-lg btn-{{ c.action.cls }}">
                                {{ c.action.title }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% set action = page.action %}
    <div class="position-relative mt-n15">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <section class="pt-15 pb-8 pb-md-11 bg-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                <span class="badge badge-pill badge-gray-700-soft mb-4">
                    <span class="h6 font-weight-bold text-uppercase">{{ action.tag }}</span>
                </span>
                    <h1 class="text-white">
                        {{ action.title }}
                    </h1>
                    <p class="font-size-lg text-muted mb-6 mb-md-8">
                        {{ action.content }}
                    </p>
                    <a href="{{ action.action.url }}" class="btn btn-{{ action.action.cls }} lift">
                        {{ action.action.title }} <i class="fe fe-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}