{% extends "layout-simple.html" %}
{% set title = _('Login') %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% set form = form or {
        'csrf_token': '',
        'next_url': '',
        'email': {
            'data': '',
            'errors': ['Invalid email address!']
        },
        'password': {
            'data': '',
            'errors': None
        },
        'remember': {
            'data': '',
            'errors': None
        }
    } %}
    <section class="section-border border-primary">
        <div class="container d-flex flex-column">
            <div class="row align-items-center justify-content-center no-gutters min-vh-100">
                <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">
                    <img src="/static/landkit/assets/img/illustrations/illustration-2.png" alt="..." class="img-fluid">
                </div>
                <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">
                    <h1 class="mb-0 font-weight-bold text-center">
                        __(Login)
                    </h1>
                    <p class="mb-6 text-center text-muted">
                        __(Please use your email address to login)
                    </p>
                    <form class="mb-6" novalidate action="login" method="post">
                        {{ form.csrf_token }}
                        {{ form.next_url }}
                        <div class="form-group">
                            <label for="email">__(Email Address)</label>
                            <input type="text" autocomplete="username"
                                   class="form-control {{ 'is-invalid' if form.email.errors }}"
                                   id="email" name="email" value="{{ form.email.data or '' }}">
                            {% if form.email.errors %}
                                <div class="invalid-feedback">{{ form.email.errors|join('/') }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="password">__(Login Password)</label>
                            <input type="password" autocomplete="current-password"
                                   class="form-control {{ 'is-invalid' if form.password.errors }}"
                                   id="password" name="password" value="{{ form.password.data or '' }}">
                            {% if form.password.errors %}
                                <div class="invalid-feedback">{{ form.password.errors|join('/') }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                       class="custom-control-input" {{ 'checked' if form.remember.data }}
                                       id="remember" name="remember" value="true">
                                <label class="custom-control-label" for="remember">__(Remember me)</label>
                            </div>
                        </div>
                        <div class="form-group mb-0 text-center">
                            <button class="btn btn-primary btn-block" type="submit"
                                    onclick="this.form.submit();this.disabled=true;">__(Login)
                            </button>
                        </div>
                    </form>
                    <p class="mb-1 font-size-sm text-center text-muted">
                        __(Don't have an account yet?) <a href="signup">__(Signup) ></a>
                    </p>
                    <p class="mb-0 font-size-sm text-center text-muted">
                        __(Forget your password?) <a href="reset_password">__(Reset) ></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
