{% extends "layout-public-demo.html" %}
{% set title = _('Portfolio') %}
{% set footer_class = 'bg-light' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% set hero = page.hero %}
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-4 position-md-sticky d-flex align-items-center vh-md-100" style="top: 0;">
                <aside class="py-8 py-md-10">
                    <h2 class="display-2 font-weight-bold">{{ hero.title | safe }}</h2>
                    <p class="font-size-lg mb-7 text-muted">{{ hero.subtitle }}</p>
                    <ul class="list-group list-group-flush">
                        {% for c in hero.children %}
                            <li class="list-group-item">
                                <h6 class="d-flex mb-0 text-uppercase">
                                    {{ c.title }} <span class="ml-auto">{{ c.content }}</span>
                                </h6>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
            <div class="col-12 col-md-7">
                <section class="py-8 py-md-10">
                    {% for i in hero.images %}
                        <a class="d-block mb-8" data-fancybox href="{{ i }}">
                            <img class="img-fluid rounded" src="{{ i }}" alt="...">
                        </a>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
            </svg>
        </div>
    </div>
    {% set portfolio = page.portfolio %}
    <section class="pt-7 pt-md-10 bg-light">
        <div class="container">
            <div class="row align-items-center mb-5">
                <div class="col-12 col-md">
                    <h3 class="mb-0">{{ portfolio.title }}</h3>
                    <p class="mb-0 text-muted">{{ portfolio.subtitle }}</p>
                </div>
                <div class="col-12 col-md-auto">
                    <a href="{{ portfolio.action.url }}"
                       class="btn btn-sm btn-outline-gray-300 d-none d-md-inline">{{ portfolio.action.title }}
                    </a>
                </div>
            </div>
            <div class="row">
                {% for c in portfolio.children %}
                    <div class="col-12 col-md-6 col-lg-4 d-flex">
                        <a class="card mb-6 mb-lg-0 shadow-light-lg" href="#!">
                            <div class="card-zoom">
                                <img class="card-img-top" src="{{ c.image }}" alt="...">
                            </div>
                            <div class="card-body">
                                <div class="shape shape-bottom-100 shape-fluid-x svg-shim text-white">
                                    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
                                    </svg>
                                </div>
                                <h6 class="text-uppercase mb-1 text-muted">{{ c.subtitle }}</h6>
                                <h4 class="mb-0">{{ c.title }}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% set action = page.action %}
    <section class="pt-7 pt-md-10 bg-light">
        <div class="container py-6 py-md-8 border-top border-bottom border-gray-300">
            <div class="row align-items-center">
                <div class="col-12 col-md">
                    <h3 class="mb-1 font-weight-bold">
                        {{ action.title }}
                    </h3>
                    <p class="font-size-lg text-muted mb-6 mb-md-0">
                        {{ action.content }}
                    </p>
                </div>
                <div class="col-12 col-md-5">
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <div class="col-auto ml-n5">
                                <button class="btn btn-primary" type="button"
                                        onclick="{{ action.action.url }}">{{ action.action.title }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}