{% extends "layout-public-demo.html" %}
{% set title = _('Index') %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% set hero = page.hero %}
    <section class="pt-12 pt-md-14 pb-12 pb-md-15 bg-gray-900">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-7 text-center">
                    <h1 class="display-2 font-weight-bold text-white">{{ hero.title | safe }}</h1>
                    <p class="lead text-white-75 mb-6">{{ hero.subtitle }}</p>
                    <nav class="nav justify-content-center">
                        {% for a in hero.actions %}
                            <a class="badge badge-pill badge-white-soft mr-1 mb-1{{ ' active' if loop.first }}"
                               href="#" data-toggle="pill" data-target="#portfolio" data-filter="{{ a.cls }}">
                                <span class="h6 text-uppercase">{{ a.title }}</span>
                            </a>
                        {% endfor %}
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
            </svg>
        </div>
    </div>
    {% set intro = page.intro %}
    <section class="py-8 py-md-11 mt-n10 mt-md-n14">
        <div class="container">
            <div class="row" id="portfolio" data-isotope='{"layoutMode": "fitRows"}'>
                {% for c in intro.children %}
                    {% set col = 'col-12 col-md-4' %}
                    {% if loop.first %}
                        {% set col = 'col-12' %}
                    {% elif loop.index0 in (1, 4) %}
                        {% set col = 'col-12 col-md-5' %}
                    {% elif loop.index0 in (2, 3) %}
                        {% set col = 'col-12 col-md-7' %}
                    {% endif %}
                    <div class="{{ col }} {{ c.cls }}">
                        <a class="card lift lift-lg shadow-light-lg mb-7" href="{{ c.url }}">
                            <img class="card-img-top" src="{{ c.image }}" alt="..."/>
                            <div class="card-body">
                                <div class="shape shape-bottom-100 shape-fluid-x svg-shim text-white">
                                    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
                                    </svg>
                                </div>
                                <h6 class="text-uppercase mb-1 text-muted">{{ c.subtitle }}</h6>
                                <h4 class="mb-0">{{ c.title }}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% set action = page.action %}
    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
            </svg>
        </div>
    </div>
    <section class="pt-6 pt-md-8 bg-gray-200">
        <div class="container pb-6 pb-md-8">
            <div class="row align-items-center">
                <div class="col-12 col-md">
                    <h3 class="mb-1 font-weight-bold">
                        {{ action.title }}
                    </h3>
                    <p class="font-size-lg text-muted mb-6 mb-md-0">
                        {{ action.content }}
                    </p>
                </div>
                <div class="col-12 col-md-5">
                    <form>
                        <div class="row">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Enter your email">
                            </div>
                            <div class="col-auto ml-n5">
                                <button class="btn btn-primary" type="button"
                                        onclick="{{ action.action.url }}">{{ action.action.title }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}