""" blueprints package. """
from .pub_demo import pub_demo
{% set ns = namespace(all=[]) %}
{% for blueprint in blueprints %}
from .{{ blueprint.name_snake }} import {{ blueprint.name_snake }}
{# public is already import at www.__init__.py #}
{% if blueprint.name != 'public' %}
{% set ns.all = ns.all + [blueprint.name_snake] %}
{% endif %}
{% endfor %}

blueprints = [pub_demo, {{ ns.all|join(', ') }}]
