{# 用于博客首页, 列举出最近的文章, 不支持翻页 #}
{# 需要传入lastest_posts参数 #}
{% set posts = lastest_posts or [] %}
<section class="pt-7 pt-md-10">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-0">
                    Lastest Posts
                </h3>
                <p class="mb-5 text-muted">
                    Here’s what’s big recently!
                </p>
            </div>
        </div>
        <div class="row">
            {# 前两个帖子 #}
            {% for post in posts[:2] %}
                <div class="col-12 col-md-6 d-flex">
                    <div class="card mb-6 shadow-light-lg lift lift-lg">
                        <a class="card-img-top" href="#!">
                            <img src="{{ post.cover }}" alt="..." class="card-img-top">
                            <div class="position-relative">
                                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z"
                                              fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a class="card-body" href="#!">
                            <h3>{{ post.title }}</h3>
                            <p class="mb-0 text-muted">{{ post.subtitle }}</p>
                        </a>
                        <a class="card-meta mt-auto" href="#!">
                            <hr class="card-meta-divider">
                            <div class="avatar avatar-sm mr-2">
                                {% if post.author.avatar %}
                                    <img src="{{ post.author.avatar }}" alt="..."
                                         class="avatar-img rounded-circle">
                                {% else %}
                                    <span class="avatar-title rounded-circle bg-primary">{{ post.author.name|first }}</span>
                                {% endif %}
                            </div>
                            <h6 class="text-uppercase text-muted mr-2 mb-0">{{ post.author.name }}</h6>
                            <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                                <span>{{ post.publish_time|date if post.publish_time is not none else '-' }}</span>
                            </p>
                        </a>
                    </div>
                </div>
            {% endfor %}
            {# 后面的帖子 #}
            {% for post in posts[2:] %}
                <div class="col-12 col-md-6 col-lg-4 d-flex">
                    <div class="card mb-6 shadow-light-lg lift lift-lg">
                        <a class="card-img-top" href="#!">
                            <img src="{{ post.cover }}" alt="..." class="card-img-top">
                            <div class="position-relative">
                                <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
                                    <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z"
                                              fill="currentColor"/>
                                    </svg>
                                </div>
                            </div>
                        </a>
                        <a class="card-body" href="#!">
                            <h3>{{ post.title }}</h3>
                            <p class="mb-0 text-muted">{{ post.subtitle }}</p>
                        </a>
                        <a class="card-meta mt-auto" href="#!">
                            <hr class="card-meta-divider">
                            <div class="avatar avatar-sm mr-2">
                                {% if post.author.avatar %}
                                    <img src="{{ post.author.avatar }}" alt="..."
                                         class="avatar-img rounded-circle">
                                {% else %}
                                    <span class="avatar-title rounded-circle bg-primary">{{ post.author.name|first }}</span>
                                {% endif %}
                            </div>
                            <h6 class="text-uppercase text-muted mr-2 mb-0">{{ post.author.name }}</h6>
                            <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                                <span>{{ post.publish_time|date if post.publish_time is not none else '-' }}</span>
                            </p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
<section class="py-7 py-md-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-8 col-xl-7">
                <a href="#!" class="btn btn-block btn-outline-gray-300 d-flex align-items-center">
                    <span class="mx-auto">Load more</span> <i class="fe fe-arrow-right"></i>
                </a>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>