{% set block = {
    'title': 'KoiSeed',
    'subtitle': '数据结构+项目模板=种子项目',
    'remarks': '2023 © koiseed.com',
    'cls': 'bg-dark',
    'actions': [
        {'url':'#!', 'image': '/static/landkit/assets/img/icons/social/instagram.svg'},
        {'url':'#!', 'image': '/static/landkit/assets/img/icons/social/facebook.svg'},
        {'url':'#!', 'image': '/static/landkit/assets/img/icons/social/twitter.svg'},
        {'url':'#!', 'image': '/static/landkit/assets/img/icons/social/pinterest.svg'},
    ],
    'children': [
        {
            'title': 'Services',
            'children': [
                {'title': 'Source Code', 'url': '#!'},
                {'title': 'Documentation', 'url': '#!'},
                {'title': 'Changelog', 'url': '#!'},
            ]
        },
        {
            'title': 'Connect',
            'children': [
                {'title': 'Contact Us', 'url': '#!'},
                {'title': 'Help Center', 'url': '#!'},
                {'title': 'Privacy Policy', 'url': '#!'},
                {'title': 'Terms and Conditions', 'url': '#!'},
            ]
        },
    ],
} %}
<footer class="py-8 py-md-11 {{ block.cls }}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                {% if block.image %}
                    <img src="./assets/img/brand.svg" alt="..." class="footer-brand img-fluid mb-2">
                {% else %}
                    <h3 class="text-white mb-2">{{ block.title }}</h3>
                {% endif %}
                <p class="text-gray-700 mb-2">
                    {{ block.subtitle }}
                </p>
                <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
                    {% for a in block.actions %}
                        <li class="list-inline-item list-social-item {{ 'mr-3' if not loop.last }}">
                            <a href="{{ a.url }}" class="text-decoration-none">
                                <img src="{{ a.image }}" class="list-social-icon" alt="...">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-md-auto">
                <div class="row">
                    {% for c in block.children %}
                        <div class="col-12 col-md-6 col-lg">
                            <h6 class="font-weight-bold text-uppercase text-gray-700">
                                {{ c.title }}
                            </h6>
                            <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                                {% for cc in c.children %}
                                    <li class="mb-3">
                                        <a href="{{ cc.url }}" class="text-reset">
                                            {{ cc.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</footer>
