{% set page = {
    'hero': {
        'title': 'Welcome to <span class="text-primary">KoiSeed</span>.<br>Develop anything.',
        'subtitle': '基于数据结构及其视图，快速生成跨平台的种子项目',
        'images': [
            '/static/landkit/assets/img/screenshots/mobile/home.jpg',
            '/static/landkit/assets/img/screenshots/mobile/rental.jpg'
        ],
        'action': {
            'title': '立即开始',
            'url': '#'
        }
    },
    'intro': {
        'children': [
            {
                'title': '轻松定义你的数据结构。',
                'content': 'KoiSeed允许你轻松定义业务所需的数据结构及其关系，免除了存储细节的复杂性。这种简便性加快了开发流程，使其更高效。',
                'button': {
                    'text': '了解更多',
                    'url': '#!'
                },
                'images': [
                    '/static/landkit/assets/img/photos/photo-23.jpg',
                    '/static/landkit/assets/img/photos/photo-25.jpg',
                    '/static/landkit/assets/img/photos/photo-22.jpg',
                    '/static/landkit/assets/img/photos/photo-24.jpg'
                ]
            },
            {
                'title': '跨所有平台生成种子项目。',
                'content': '通过为你的数据结构定义直观的视图，KoiSeed能生成可以在任何平台运行的种子项目。无论是网站、小程序、iOS或Android应用，你都能在开发开始时就占据优势，获得遵循最佳实践且易于维护的项目。',
                'image': '/static/landkit/assets/img/screenshots/ui/mobile-chat.png'
            },
        ]
    },
    'action': {
        'title': '今天就开始你的项目吧！',
        'content': '通过KoiSeed跳跃式开始你的开发，通过自动合并机制实现生成代码与定制开发之间的完美平衡。',
        'images': [
            '/static/landkit/assets/img/buttons/button-app.png',
            '/static/landkit/assets/img/buttons/button-play.png'
        ]
    },
} %}
{% set block = page.hero %}
<section class="pt-6 pt-md-8">
    <div class="container">
        <div class="row align-items-center justify-content-center justify-content-md-between">
            <div class="col-10 col-sm-8 col-md-6 order-md-2">
                <div class="device-combo device-combo-iphonex-iphonex mb-6 mb-md-0">
                    {% for image in block.images %}
                        <div class="device device-iphonex" data-aos="fade-left">
                            <img src="{{ image }}" class="device-screen" alt="...">
                            <img src="/static/landkit/assets/img/devices/iphonex.svg" class="img-fluid" alt="...">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5" data-aos="fade-right">
                <h1 class="font-weight-bold">
                    {{ block.title | safe }}
                </h1>
                <p class="font-size-lg text-muted mb-6">
                    {{ block.subtitle }}
                </p>
                <form class="mb-6 mb-md-8 mb-md-0 order-md-1">
                    <div class="form-row">
                        <div class="col">
                            <input type="url" class="form-control bg-light border-0">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">
                                {{ block.action.title }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% set block = page.intro.children[0] %}
<section class="pt-8 pt-md-11">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6 mb-5 mb-md-0">
                <div class="row">
                    <div class="col-6 mr-n5">
                        <img src="{{ block.images[0] }}" alt="..." class="img-fluid mb-4 rounded"
                             data-aos="fade-right" data-aos-delay="100">
                        <img src="{{ block.images[1] }}" alt="..." class="img-fluid rounded"
                             data-aos="fade-right" data-aos-delay="150">
                    </div>
                    <div class="col-6 mt-8">
                        <img src="{{ block.images[2] }}" alt="..." class="img-fluid mb-4 rounded"
                             data-aos="fade-right">
                        <img src="{{ block.images[3] }}" alt="..." class="img-fluid rounded"
                             data-aos="fade-right" data-aos-delay="50">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5" data-aos="fade-left">
                <h2 class="font-weight-bold">{{ block.title }}</h2>
                <p class="font-size-lg text-muted mb-4">{{ block.content }}</p>
                <a href="{{ block.button.url }}" class="btn btn-outline-primary">{{ block.button.text }}</a>
            </div>
        </div>
    </div>
</section>
{% set block = page.intro.children[1] %}
<section class="py-8 py-md-11">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6 col-lg-7 order-md-2">
                <img src="{{ block.image }}" alt="..." class="img-fluid mb-6 mb-md-8 mb-md-0" data-aos="fade-left">
            </div>
            <div class="col-12 col-md-6 col-lg-5 order-md-1" data-aos="fade-right">
                <h2 class="font-weight-bold">{{ block.title }}</h2>
                <p class="font-size-lg text-muted mb-0">{{ block.content }}</p>
            </div>
        </div>
    </div>
</section>
<div class="position-relative">
    <div class="shape shape-top shape-fluid-x svg-shim text-white">
        <svg viewBox="0 0 2880 72" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2880 0H0v54.112h720s289.42 40.248 705 0c416.5-37.733 735 0 735 0h720V0z" fill="currentColor"/>
        </svg>
    </div>
</div>
<section class="py-12 py-md-13 bg-cover" style="background-image: url(/static/landkit/assets/img/covers/cover-2.jpg);">
    <div class="container py-md-13">
        <div class="row">
            <div class="col-12 text-center">
                <a href="https://www.youtube.com/watch?v=9I-Y6VQ6tyI"
                   class="btn btn-pill btn-white text-body shadow lift" data-fancybox>
                    <span class="h6 text-uppercase font-weight-bold"><i class="fe fe-play mr-2"></i> Watch video</span>
                </a>
            </div>
        </div>
    </div>
</section>
{% set block = page.action %}
<section class="pt-6 pt-md-8">
    <div class="container pb-6 pb-md-8 border-bottom">
        <div class="row align-items-center">
            <div class="col-12 col-md">
                <h3 class="font-weight-bold mb-1">{{ block.title }}</h3>
                <p class="text-muted mb-6 mb-md-0">{{ block.content }}</p>
            </div>
            <div class="col-auto">
                <a href="#!" class="text-reset d-inline-block mr-1">
                    <img src="{{ block.images[0] }}" class="img-fluid" alt="..." style="max-width: 155px;">
                </a>
                <a href="#!" class="text-reset d-inline-block">
                    <img src="{{ block.images[1] }}" class="img-fluid" alt="..." style="max-width: 155px;">
                </a>
            </div>
        </div>
    </div>
</section>
