{% set page = {
    'hero': {
        'title': 'Welcome to <span class="text-primary">KoiSeed</span>.<br>Develop anything.',
        'subtitle': '基于数据结构及其视图，快速生成跨平台的种子项目',
        'image': '/static/landkit/assets/img/illustrations/illustration-2.png',
        'actions': [
            {'title': 'Github<i class="fe fe-github ml-2"></i>', 'url': 'https://github.com/okosioc/koiseed', 'cls': 'primary'},
            {'title': 'View all pages<i class="fe fe-arrow-right d-none d-md-inline ml-2"></i>', 'url': '/dashboard', 'cls': 'primary-soft'},
        ],
        'children': [
            {'icon': '/static/landkit/assets/img/icons/duotone-icons/General/Settings-1.svg',
             'title': '数据结构', 'content': '通过简单的方式定义业务所需的数据结构，无需考虑存储细节，支持主流数据库。'},
            {'icon': '/static/landkit/assets/img/icons/duotone-icons/Layout/Layout-arrange.svg',
             'title': '项目模板', 'content': '根据数据结构及其视图，即可配合项目模板生成各个平台的种子项目，如网站、小程序、iOS和Android应用等等。'},
            {'icon': '/static/landkit/assets/img/icons/duotone-icons/Code/Code.svg',
             'title': '二次开发', 'content': '通过自动合并的机制实现了代码生成与定制开发的平衡。'},
        ],
    },
    'intro': {
        'children': [
            {
                'tag': 'DATA',
                'title': '数据优先',
                'subtitle': '数据结构决定了整个项目的业务逻辑，可配合项目模板生成种子项目。',
                'image': '/static/landkit/assets/img/illustrations/illustration-8.png',
                'children': [
                    {'title': '支持复杂数据结构', 'subtitle': '通过优雅的方式支持数据结构之间的嵌套和关联，从而能够实现复杂的业务逻辑'},
                    {'title': '支持主流数据库', 'subtitle': '支持内存以及主流数据库，包含MySQL以及MongoDB等'},
                    {'title': '通过视图定义逻辑', 'subtitle': '定义数据结构的视图，可配合项目模版生成业务逻辑代码'}
                ],
            },
            {
                'tag': 'TEMPLATE',
                'title': '项目模板',
                'subtitle': '可根据数据结构及其视图快速生成多个平台的种子项目，如网站、小程序、iOS和Android应用等；该种子项目符合最佳实践，代码规范且易于维护；通过自动合并的机制实现了代码生成与定制开发的平衡。',
                'image': '/static/landkit/assets/img/illustrations/illustration-7.png',
                'children': [
                    {'title': '跨平台'},
                    {'title': '专业的模板'},
                    {'title': '完备的组件'},
                    {'title': '方便的定制'},
                ],
            },
        ],
    },
    'test': {
        'title': '我们的客户',
        'subtitle': '客户的认可是我们前进的动力',
        'children':[
            {
                'icon': '/static/img/demo/koiplan-logo.png',
                'title': '锦鲤规划',
                'subtitle': 'Simon Hong',
                'image': '/static/landkit/assets/img/photos/photo-1.jpg',
                'content': '定义完数据结构后，即可生成一个完整可用的种子项目，使得我们可以专注于业务逻辑进行开发，不愧为AI时代的低代码平台。',
            },
            {
                'title': '锦鲤模型',
                'subtitle': 'Samuel Feng',
                'image': '/static/landkit/assets/img/photos/photo-26.jpg',
                'content': '快速的生成项目，方便的二次开发；更改数据结构后往往需要重新生成代码，平台通过一个自动合并的机制实现了代码生成与定制开发的平衡。',
            },
        ],
    },
    'price': {
        'title': '价格',
        'subtitle': '免费使用，付费定制',
        'children': [
            {
                'tag': 'FREE',
                'title': '免费',
                'subtitle': 'per seat',
                'action': {'title': '免费使用', 'url': '/dashboard', 'cls': 'primary'},
                'children': [
                    {'title': '开源'},
                    {'title': '跨平台'},
                    {'title': '项目模版'},
                    {'title': '社区支持'},
                ],
            },
            {
                'tag': 'ENTERPRISE',
                'title': '定制',
                'action': {'title': '联系我们', 'url': 'javascript:coming()', 'cls': 'light'},
                'content': '一对一的技术支持，量身实现客户的需求',
            },
        ],
    },
    'action': {
        'tag': 'Get Started',
        'title': '立即开始',
        'subtitle': '不要再浪费时间尝试从复杂的框架开始，而是从数据本源和种子项目开始构建您的业务，更快、更简单、且您仍然拥有完全的控制权',
        'action': {
            'title': '免费使用',
            'url': '/dashboard',
            'cls': 'success',
        },
    },
} %}
{% set hero = page.hero %}
<section class="pt-4 pt-md-11">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2">
                <img src="{{ hero.image }}"
                     class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0" alt="..." data-aos="fade-up"
                     data-aos-delay="100">
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1" data-aos="fade-up">
                <h1 class="display-3 text-center text-md-left">{{ hero.title|safe }}
                </h1>
                <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                    {{ hero.subtitle }}
                </p>
                <div class="text-center text-md-left">
                    {% for a in hero.actions %}
                        <a href="{{ a.url }}" class="btn btn-{{ a.cls }} shadow lift{{ ' mr-1' if not loop.last }}">
                            {{ a.title|safe }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-8 py-md-11">
    <div class="container">
        <div class="row">
            {% for c in hero.children %}
                <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="{{ 50*loop.index0 }}">
                    <div class="icon text-primary mb-3">
                        <img src="{{ c.icon }}" style="width: 48px; height: 48px;">
                    </div>
                    <h3>
                        {{ c.title }}
                    </h3>
                    <p class="text-muted{{ ' mb-6' if not loop.last }} mb-md-0">
                        {{ c.content }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% set intro = page.intro.children[0] %}
<section class="pt-8 pt-md-11 border-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <span class="badge badge-pill badge-primary-soft mb-3">
                    <span class="h6 text-uppercase">{{ intro.tag }}</span>
                </span>
                <h1>
                    {{ intro.title|safe }}
                </h1>
                <p class="lead text-gray-700 mb-7 mb-md-9">
                    {{ intro.subtitle }}
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-7">
                <div class="mb-8 mb-md-0">
                    <img src="{{ intro.image }}" alt="..."
                         class="{{ intro.cls }} img-fluid mw-md-100 float-right mr-md-6 mb-6 mb-md-0">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                {% for c in intro.children %}
                    <div class="d-flex">
                        <div class="badge badge-lg badge-rounded-circle badge-primary-soft mt-1">
                            <span>{{ loop.index }}</span>
                        </div>
                        <div class="ml-5">
                            <h3>
                                {{ c.title }}
                            </h3>
                            <p class="text-gray-700 mb-6">
                                {{ c.subtitle }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% set intro = page.intro.children[1] %}
<section class="py-8 py-md-11">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <span class="badge badge-pill badge-primary-soft mb-3">
                    <span class="h6 text-uppercase">{{ intro.tag }}</span>
                </span>
                <h2>
                    {{ intro.title|safe }}
                </h2>
                <p class="font-size-lg text-gray-700 mb-6">
                    {{ intro.subtitle }}
                </p>
                <div class="row">
                    {% for c in intro.children %}
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <div class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4">
                                    <i class="fe fe-check"></i>
                                </div>
                                <p>
                                    {{ c.title }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img src="{{ intro.image }}" alt="..." class="img-fluid mw-md-130">
            </div>
        </div>
    </div>
</section>
{% set test = page.test %}
<section class="py-8 py-md-11 border-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h2>
                    {{ test.title }}
                </h2>
                <p class="font-size-lg text-muted mb-7 mb-md-9">
                    {{ test.subtitle }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card-row shadow-light-lg mb-6">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-6">
                            <div class="card-img-slider"
                                 data-flickity='{"fade": true, "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'>
                                {% for c in test.children %}
                                    <a class="card-img-left w-100 bg-cover"
                                       style="background-image: url({{ c.image }});" href="#!">
                                        <img src="{{ c.image }}" alt="..." class="img-fluid d-md-none invisible">
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
                                <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"/>
                                </svg>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 position-md-static">
                            <div class="position-md-static"
                                 data-flickity='{"wrapAround": true, "pageDots": false, "adaptiveHeight": true}'
                                 id="blogSlider">
                                {% for c in test.children %}
                                    <div class="w-100">
                                        <div class="card-body">
                                            <blockquote class="blockquote text-center mb-0">
                                                <div class="row justify-content-center mb-5 mb-md-7">
                                                    <div class="col-6 col-sm-4 col-md-7 col-lg-5">
                                                        {% if c.icon %}
                                                            <img src="{{ c.icon }}" class="img-fluid"/>
                                                        {% else %}
                                                            <span>{{ c.title }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <p class="mb-5 mb-md-7">
                                                    “{{ c.content }}”
                                                </p>
                                                <footer class="blockquote-footer">
                                                    <span class="h6 text-uppercase">{{ c.subtitle }}</span>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="position-relative mt-n10">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-gray-200">
        <svg viewBox="0 0 2880 480" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M2160 0C1440 240 720 240 720 240H0v240h2880V0h-720z"
                  fill="currentColor"/>
        </svg>
    </div>
</div>
{% set price = page.price %}
<section class="py-8 py-md-11 bg-gray-200">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h1>
                    {{ price.title }}
                </h1>
                <p class="lead text-gray-700 mb-7 mb-md-9">
                    {{ price.subtitle }}
                </p>
            </div>
        </div>
        <div class="row align-items-center no-gutters">
            {% for c in price.children %}
                <div class="col-12 col-md-6 {{ 'ml-md-n3' if not loop.first }}">
                    <div class="card rounded-lg shadow-lg mb-6 mb-md-0" style="{{ 'z-index:1;' if loop.first }}"
                         data-aos="fade-up"
                         data-aos-delay="{{ 100*loop.index0 }}">
                        <div class="card-body py-6 py-md-8">
                            <div class="row justify-content-center">
                                <div class="col-12 col-xl-9">
                                    <div class="text-center mb-5">
                                        <span class="badge badge-pill badge-primary-soft">
                                            <span class="h6 font-weight-bold text-uppercase">{{ c.tag }}</span>
                                        </span>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        {% if c.title %}
                                            <span class="price display-4 mb-1">{{ c.title }}</span>
                                        {% else %}
                                            <span class="h2 mb-0 mt-2">{{ c.unit }}</span>
                                            <span class="price display-2 mb-0">{{ c.value }}</span>
                                            <span class="h2 align-self-end mb-1">/mo</span>
                                        {% endif %}
                                    </div>
                                    <p class="text-center text-muted mb-6 mb-md-8">
                                        {{ c.subtitle or '' }}
                                    </p>
                                    {% if c.content %}
                                        <p class="lead text-center text-muted">
                                            {{ c.content }}
                                        </p>
                                    {% else %}
                                        {% for cc in c.children %}
                                            <div class="d-flex">
                                                <div class="badge badge-rounded-circle badge-success-soft mt-1 mr-4">
                                                    <i class="fe fe-check"></i>
                                                </div>
                                                <p>
                                                    {{ cc.title }}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <a href="{{ c.action.url }}" class="card-btn btn btn-block btn-lg btn-{{ c.action.cls }}">
                            {{ c.action.title }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% set action = page.action %}
<div class="position-relative mt-n15">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<section class="pt-15 pb-8 pb-md-11 bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <span class="badge badge-pill badge-gray-700-soft mb-4">
                    <span class="h6 font-weight-bold text-uppercase">{{ action.tag }}</span>
                </span>
                <h1 class="text-white">
                    {{ action.title }}
                </h1>
                <p class="font-size-lg text-muted mb-6 mb-md-8">
                    {{ action.subtitle }}
                </p>
                <a href="{{ action.action.url }}" class="btn btn-{{ action.action.cls }} lift">
                    {{ action.action.title }} <i class="fe fe-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>
