{% set page = {
    'hero': {
        'title': 'Welcome to KoiSeed.<br>Develop anything.',
        'content': '基于数据结构及其视图，快速生成跨平台的种子项目。',
        'action': {
            'url': '#!',
            'title': '创建您的项目'
        },
        'cls': 'primary',
        'children': [
            {
                'title': '数据定义',
                'content': '无需考虑存储细节，支持主流数据库的数据结构定义。',
                'image': '/static/landkit/assets/img/illustrations/illustration-4.png'
            },
            {
                'title': '视图设计',
                'content': '为数据结构定义直观的视图，轻松生成跨平台应用。',
                'image': '/static/landkit/assets/img/illustrations/illustration-8.png'
            },
            {
                'title': '代码生成',
                'content': '自动合并机制，平衡代码生成与定制开发。',
                'image': '/static/landkit/assets/img/illustrations/illustration-7.png'
            },
            {
                'title': '易于维护',
                'content': '生成的种子项目符合最佳实践，易于维护。',
                'image': '/static/landkit/assets/img/illustrations/illustration-6.png'
            },
        ],
    },
    'intro': {
        'tag': 'Platform',
        'title': '简化开发流程。',
        'content': 'KoiSeed 提供一站式服务，从数据结构定义到跨平台应用生成。',
        'children': [
            {
              'title': '跨平台支持',
              'content': '生成网站、小程序、iOS和Android应用等。'
            },
            {
              'title': '主流数据库支持',
              'content': '无需担心存储细节，我们全都支持。'
            },
            {
              'title': '最佳实践',
              'content': '按照最佳实践生成代码，确保项目质量。'
            },
            {
              'title': '代码与定制的平衡',
              'content': '通过自动合并机制，实现代码生成与定制开发的完美平衡。'
            }
        ]
    },
    'test': {
        'tag': 'Testimonials',
        'title': '客户见证',
        'content': '了解全球顶尖初创公司如何使用 KoiSeed 加速开发。',
        'children': [
            {
                'content': '“KoiSeed 让我们的开发流程大大加速，现在我们可以更专注于产品本身。”',
                'author': '来自 Airbnb 的 Casey Fyfe',
                'image': '/static/landkit/assets/img/covers/cover-1.jpg',
            },
            {
                'title': '快速迭代',
                'content': '“使用 KoiSeed，我们能够快速迭代我们的产品，无需担心后端。”',
                'image': '/static/landkit/assets/img/brands/logotype/airbnb.svg',
                'color': '#FF5A5F'
            },
            {
                'title': '代码质量',
                'content': '“KoiSeed 生成的代码清晰易懂，大大提高了我们的开发效率。”',
                'image': '/static/landkit/assets/img/brands/logotype/netflix.svg',
                'color': '#B81D24'
            },
            {
                'title': '平台灵活性',
                'content': '“我们喜欢 KoiSeed 的平台灵活性，它满足了我们所有的开发需求。”',
                'image': '/static/landkit/assets/img/brands/logotype/coinbase.svg',
                'color': '#0081C9'
            },
            {
                'title': '开发自由',
                'content': '“KoiSeed 给了我们开发的自由，同时还保证了项目的质量。”',
                'image': '/static/landkit/assets/img/brands/logotype/stripe.svg',
                'color': '#6772E5'
            },
        ],
    },
    'action': {
        'title': '立即体验 KoiSeed',
        'subtitle': '开始您的项目开发之旅',
        'content': '不要再浪费时间在复杂的开发流程上，KoiSeed 为您提供一站式解决方案。',
        'image': '/static/landkit/assets/img/illustrations/illustration-1.png',
        'action': {
            'title': '立即开始',
            'url': '#',
            'cls': 'btn btn-block btn-primary mt-3 lift',
        },
    },
} %}
{% set hero = page.hero %}
<section class="py-10 py-md-14 bg-{{ hero.cls }}">
    <div class="shape shape-blur-3 svg-shim text-white">
        <svg viewBox="0 0 1738 487" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h1420.92s713.43 457.505 0 485.868C707.502 514.231 0 0 0 0z" fill="url(#paint0_linear)"/>
            <defs>
                <linearGradient id="paint0_linear" x1="0" y1="0" x2="1049.98" y2="912.68"
                                gradientUnits="userSpaceOnUse">
                    <stop stop-color="currentColor" stop-opacity=".075"/>
                    <stop offset="1" stop-color="currentColor" stop-opacity="0"/>
                </linearGradient>
            </defs>
        </svg>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <h1 class="display-2 font-weight-bold text-white">{{ hero.title | safe }}</h1>
                <p class="lead text-white mb-8">{{ hero.subtitle }}</p>
                <a href="{{ hero.action.url }}" class="btn btn-white shadow lift">{{ hero.action.title }}</a>
            </div>
        </div>
    </div>
</section>
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
        </svg>
    </div>
</div>
<section class="pt-8 pt-md-10 pb-3" id="welcome-3">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <a href="#welcome-3" class="btn btn-white btn-rounded-circle shadow mt-n12 mt-md-n14"
                   data-toggle="smooth-scroll">
                    <i class="fe fe-arrow-down"></i>
                </a>
            </div>
        </div>
        <div class="row align-items-center">
            {% for child in hero.children %}
                <div class="col-12 col-lg-6">
                    <div class="row align-items-center mb-8">
                        <div class="col-4 col-lg-5">
                            <img src="{{ child.image }}" alt="..." class="img-fluid">
                        </div>
                        <div class="col-8 col-lg-7">
                            <h3 class="font-weight-bold mb-2">{{ child.title }}</h3>
                            <p class="text-gray-700 mb-0">{{ child.content }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% set intro = page.intro %}
<section class="py-8 py-md-11 border-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-5" data-aos="fade-up">
        <span class="badge badge-pill badge-success-soft mb-3">
          <span class="h6 text-uppercase">{{ intro.tag }}</span>
        </span>
                <h2 class="font-weight-bold">
                    {{ intro.title | safe }}
                </h2>
                <p class="font-size-lg text-gray-700">
                    {{ intro.content }}
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                <div class="card card-border border-success shadow-lg mb-5" data-aos="fade-up">
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            {% for child in intro.children %}
                                <div class="list-group-item d-flex align-items-center">
                                    <div class="mr-auto">
                                        <p class="font-weight-bold mb-1">
                                            {{ child.title }}
                                        </p>
                                        <p class="font-size-sm text-muted mb-0">
                                            {{ child.content }}
                                        </p>
                                    </div>
                                    <div class="badge badge-rounded-circle badge-success-soft ml-4">
                                        <i class="fe fe-check"></i>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <p class="font-size-sm text-center text-gray-500 mb-0">
                    * Limited to the life of the company
                </p>
            </div>
        </div>
    </div>
</section>
{% set test = page.test %}
{% set first = test.children[0] %}
<section data-jarallax data-speed=".8" class="py-15 overlay overlay-black overlay-60 jarallax"
         style="background-image: url({{ first.image }});">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7">
                <blockquote class="blockquote mb-0">
                    <p class="h2 text-white">{{ first.content }}</p>
                    <footer class="blockquote-footer text-white-50 mb-0">{{ first.author }}</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
        <svg viewBox="0 0 2880 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M720 28H0v28h2880V28h-720S1874 0 1440 0 720 28 720 28z" fill="currentColor"/>
        </svg>
    </div>
</div>
<section class="py-8 py-md-11">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
            <span class="badge badge-pill badge-success-soft mb-3">
              <span class="h6 text-uppercase">{{ test.tag }}</span>
            </span>
                <h2 class="font-weight-bold">{{ test.title }}</h2>
                <p class="font-size-lg text-gray-700 mb-9">{{ test.content }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="flickity-viewport-visible pt-2 pb-2"
                     data-flickity='{"cellAlign": "left", "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "contain": true}'>
                    {% for child in test.children[1:] %}
                        <div class="col-12 col-md-5 col-lg-4">
                            <div class="card card-border shadow-light-lg lift lift-lg"
                                 style="border-top-color: {{ child.color }}">
                                <div class="card-body text-center">
                                    <div class="img-fluid mb-5 w-50 svg-shim mx-auto">
                                        <img src="{{ child.image }}" style="color: {{ child.color }}">
                                    </div>
                                    <p class="text-gray-700">{{ child.content }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% set action = page.action %}
<section class="py-8 py-md-11 border-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card card-border border-primary shadow-light-lg" data-jarallax-element="-40">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-11">
                                <div class="text-center">
                                    <img src="{{ action.image }}" alt="..." class="img-fluid mb-3"
                                         style="width: 200px;">
                                </div>
                                <h2 class="font-weight-bold text-center mb-1">
                                    {{ action.title }}
                                </h2>
                                <p class="font-size-lg text-center text-muted mb-6 mb-md-8">
                                    {{ action.content }}
                                </p>
                                <form>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-label-group">
                                                <input type="text" class="form-control form-control-flush"
                                                       id="input-demo-name" placeholder="Name">
                                                <label for="input-demo-name">Name</label>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-label-group">
                                                <input type="email" class="form-control form-control-flush"
                                                       id="input-demo-email" placeholder="Email">
                                                <label for="input-demo-email">Email</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="button" class="{{ action.action.cls }}" onclick="coming();">
                                                {{ action.action.title }}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="position-relative mt-n16">
    <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/>
        </svg>
    </div>
</div>
<div class="pt-16 bg-dark"></div>
