<div class="field-control">
    {% if field_schema.type == 'array' %}
    <div class="gallery">
    {{ '{%' }} for {{ field_name }}_item in {{ field_path }} {{ '%}' }}
        {% if field_schema['items'].type == 'object' %}
            {% set src = field_name~'_item.url' %}
            {% set caption = field_name~'_item.name' %}
        {% else %}
            {% set src = field_name~'_item' %}
            {% set caption = src~'|basename' %}
        {% endif %}
        <a href="javascript:;" data-fancybox="{{ field_schema.title }}" data-src="{{ '{{' }} {{ src }} {{ '}}' }}" data-caption="{{ '{{' }} {{ caption }} {{ '}}' }}">
            <img src="{{ '{{' }} {{ src }} {{ '}}' }}">
        </a>
    {{ '{%' }} endfor {{ '%}' }}
    </div>
    {% else %}
    {% if field_schema.type == 'object' %}
        {% set src = field_path~'.url' %}
        {% set title_field_name = field_schema|field('title|name|\\w*name') %}
        {% set caption = field_path~'.'~title_field_name %}
    {% else %}
        {% set src = field_path %}
        {% set caption = src~'|basename' %}
    {% endif %}
    <div class="gallery">
    {{ '{% if' }} {{ field_path }} {{ '%}' }}
    <a href="javascript:;" data-fancybox="{{ field_schema.title }}" data-src="{{ '{{' }} {{ src }} {{ '}}' }}" data-caption="{{ '{{' }} {{ caption }} {{ '}}' }}">
        <img src="{{ '{{' }} {{ src }} {{ '}}' }}">
    </a>
    {{ '{% else %}' }}
    -
    {{ '{% endif %}' }}
    </div>
    {% endif %}
</div>
