{% if field_schema.type == 'array' %}
<div class="gallery">
{{ '{%' }} for {{ field_name }}_item in {{ field_path }} {{ '%}' }}
    {% if field_schema['items'].type == 'object' %}
        {% set src = field_name~'_item.url' %}
        {% set caption = field_name~'_item.name' %}
    {% else %}
        {% set src = field_name~'_item' %}
        {% set caption = src~'|basename' %}
    {% endif %}
    <a href=":;" data-fancybox="{{ field_schema.title }}" data-src="{{ '{{' }} {{ src }} {{ '}}' }}" data-caption="{{ '{{' }} {{ caption }} {{ '}}' }}">
        <img src="{{ '{{' }} {{ src }} {{ '}}' }}">
    </a>
{{ '{%' }} endfor {{ '%}' }}
</div>
{% else %}
UNSUPPORTED! {{ field_schema.format }} format do not support {{ field_schema.type }}!
{% endif %}