{% if field_schema.type in ['array', 'object'] %}
UNSUPPORTED! {{ field_schema.format }} format do not support {{ field_schema.type }}!
{% else %}
<div class="plupload-input-group image-input-group" {{ 'required' if field_schema.required }}>
    <a class="btn btn-outline-primary plupload" href="javascript:;"
       data-base='{{ '{{ upload_config.base or "" }}' }}'
       data-upload="{{ '{{ upload_config.endpoint }}' }}"
       data-params='{{ '{{ upload_config.params|tojson }}' }}'
       data-max="{{ '{{ upload_config.max }}' }}"
       data-preview='{"image":"{{ '{{' }} upload_config.avatar_preview {{ '}}' }}"}'
       data-suffix='{"image":"{{ '{{' }} upload_config.avatar_preview {{ '}}' }}"}'
       data-filters='{"mime_types":[{"title":"Custom files","extensions":"{{ '{{' }} upload_config.image_exts|join(",") {{ '}}' }}"}]}'
       data-hiddens="url">__(Choose Image)...</a>
    <small class="mt-2 form-text text-muted">__(Availabe formats: ){{ '{{' }} upload_config.image_exts|join('/') {{ '}}' }}</small>
    <div class="plupload-input-result image-input-result mt-1 clearfix">
        {{ '{%' }} if {{ field_path }} {{ '%}' }}
        <div class="image uploaded" style="width: auto">
            <img data-src="{{ '{{' }} {{ field_path }} {{ '}}' }}">
            <div class="btns">
                <a href="{{ '{{' }} {{ field_path }} {{ '}}' }}" target="_blank">i</a>
                <a href="javascript:;" onclick="$(this).closest('.image').remove();">x</a>
            </div>
            <input type="hidden" name="url" value="{{ '{{' }} {{ field_path }} {{ '}}' }}">
        </div>
        {{ '{%' }} endif {{ '%}' }}
    </div>
</div>
{% endif %}