{% macro render_file() %}
<div class="file uploaded d-flex justify-content-start align-items-center">
    <div class="mr-3">{{ '{{' }}{% if 'name' in hiddens %} file_obj['name'] {% else %} file_obj['url']|basename {% endif %}{{ '}}' }}</div>
    <div><a class="mr-3" href="{{ '{{' }} file_obj['url'] {{ '}}' }}" target="_blank">i</a><a href="javascript:;" onclick="$(this).closest('.file').remove();">x</a></div>
    {% for k in hiddens %}
    <input type="hidden" name="{{ k }}" value="{{ '{{' }} file_obj['{{ k }}'] {{ '}}' }}">
    {% endfor %}
</div>
{% endmacro %}
{# array of string/object #}
{% if field_schema.type == 'array' %}
    {% set hiddens = field_schema['items'].properties|keys if field_schema['items'].type == 'object' else ['url'] %}
{# object #}
{% elif field_schema.type == 'object' %}
    {% set hiddens = field_schema.properties|keys %}
{# string #}
{% elif field_schema.type == 'string' %}
    {% set hiddens = ['url'] %}
{% endif %}
<div class="plupload-input-group file-input-group" {{ 'required' if field_schema.required }}>
    <a class="btn btn-outline-primary plupload" href="javascript:;" {{ 'multiple' if field_schema.type == 'array' }}
        data-base='{{ '{{ upload_config.base or "" }}' }}'
        data-upload="{{ '{{ upload_config.endpoint }}' }}"
        data-params='{{ '{{ upload_config.params|tojson }}' }}'
        data-max="{{ '{{ upload_config.max }}' }}"
        data-preview=''
        data-filters='{"mime_types":[{"title":"Custom files","extensions":"{{ '{{' }} upload_config.exts|join(",") {{ '}}' }}"}]}'
        data-hiddens="{{ hiddens|join(',') }}">__(Choose File)...</a>
    <small class="mt-2 form-text text-muted">{{ '__(Support multiple uploads; )' if field_schema.type == 'array' }}__(Availabe formats: ){{ '{{' }} upload_config.exts|join('/') {{ '}}' }}</small>
    <div class="plupload-input-result file-input-result mt-1 clearfix">
    {% if field_schema.type == 'array' %}
    {% if field_schema['items'].type == 'object' %}
        {{ '{%' }} for file_obj in {{ field_path }} {{ '%}' }}
        {% filter right(8) %}{{ render_file() }}{% endfilter %}
        {{ '{%' }} endfor {{ '%}' }}
    {% else %}
        {{ '{%' }} for e in {{ field_path }} {{ '%}' }}
        {{ '{%' }} set file_obj = {'url': e } {{ '%}' }}
        {% filter right(8) %}{{ render_file() }}{% endfilter %}
        {{ '{%' }} endfor {{ '%}' }}
    {% endif %}
    {% else %}
    {% if field_schema.type == 'object' %}
        {{ '{%' }} set file_obj = {{ field_path }} {{ '%}' }}
        {{ '{%' }} if file_obj.url {{ '%}' }}
        {% filter right(8) %}{{ render_file() }}{% endfilter %}
        {{ '{%' }} endif {{ '%}' }}
    {% else %}
        {{ '{%' }} if {{ field_path }} {{ '%}' }}
        {{ '{%' }} set file_obj = {'url': {{ field_path }} } {{ '%}' }}
        {% filter right(8) %}{{ render_file() }}{% endfilter %}
        {{ '{%' }} endif {{ '%}' }}
    {% endif %}
    {% endif %}
    </div>
</div>
