<div class="form-group{{ ' row' if view_is_horizontal }}" name="{{ field_name }}">
    <label class="{{ 'col-auto col-form-label' if view_is_horizontal }}">{{ '<span class="text-danger mr-1">*</span>' if field_schema.required }}{{ field_schema.title }}</label>
    {% if view_is_horizontal %}
    <div class="col">
    {% endif %}
    <div class="rte-input-group"{{ ' required' if field_schema.required }}>
        {{ '{%' }} set rte_id = 'rte_'~randstr() {{ '%}' }}
        <div id="{{ '{{' }} rte_id {{ '}}' }}" class="editorjs"
             data-token="{{ '{{ upload_config.token }}' }}"
             data-upload="{{ '{{ upload_config.endpoint }}' }}"
             data-types="{{ '{{ upload_config.mimes_image|join(", ") }}' }}"></div>
        <input type="hidden" value="{{ '{{' }} {{ field_path }} or '' {{ '}}' }}"/>
    </div>
    {% if field_schema.description %}
    <small class="mt-2 form-text text-muted">{{ field_schema.description }}</small>
    {% endif %}
    <div class="invalid-feedback">__(Invalid ){{ field_schema.title }}__(!)</div>
    {% if view_is_horizontal %}
    </div>
    {% endif %}
</div>
