{# * #}
{# * macro - generate url for a model under current domain, return the first view with matched action #}
{# * #}
{% macro generate_url(model_name, model_path=none, actions=none) %}
    {# NOTE: models({name:model_setting}) & domain(str) is in context always, while blueprint({name, views}) is in context when rendering view #}
    {% set model = models[model_name] %}
    {% set ns = namespace(view=none) %}
    {% for action in actions %}
        {% if ns.view is none %}
            {% for v in model.views %}
                {% if domain in v.domains and blueprint.name == v.blueprint and action == v.action %}
                    {% set ns.view = v %}
                    {% break %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% if ns.view %}{{ ns.view.name }}{{ '?id={{ '~model_path~'.'~model.schema.id_name~' }}' if model_path }}{% else %}javascript:;{% endif %}
{% endmacro %}
{# * #}
{# * macro - render summary, also used as default grid #}
{# * #}
{% macro display_summary(field_name, field_path, field_schema, field_layout, is_in_card, target_url=none) %}
{% include '__includes/display_summary.html' %}
{% endmacro %}
{# * #}
{# * macro - display field content inline, i.e, in a table column or in summary's .list-group-item #}
{# * #}
{% macro display_inline(field_name, field_path, field_schema, fallback=none) %}
{# object #}
{% if field_schema.type == 'object' %}
{% set title_field_name = field_schema|field('title|name|\\w*name') %}
{{ '{{' }} {{ field_path }}.{{ title_field_name }} or '-' {{ '}}' }}
{# array #}
{% elif field_schema.type == 'array' %}
{# display length for object array #}
{% if field_schema['items'].type == 'object' %}
{{ '{{' }} {{ field_path }}|length {{ '}}' }}
{% else %}
{# display each for simple array #}
{{ '{%' }} for {{ field_name }}_item in {{ field_path }} {{ '%}' }}
{% if field_schema.format in ['image', 'carousel'] %}
<img src="{{ '{{' }} {{ field_name }}_item or '' {{ '}}' }}" alt="..." class="img-thumbnail" style="height:100px;">
{% else %}
{{ '{{' }} ' ' if not loop.fist {{ '}}' }}{{ display_inline('-', field_name~'_item', field_schema['items']) -}}
{% endif %}
{{ '{%' }} endfor {{ '%}' }}
{% endif %}
{# simple types #}
{% else %}
{% if field_schema.format in ['int', 'float'] %}
{{ '{{' }} {{ field_path }}|commas if {{ field_path }} is not none else '-' {{ '}}' }} {{ '%' if field_schema.unit == '%' }}
{% elif field_schema.format in ['switch'] %}
{{ '{{' }} '是' if {{ field_path }} else '否' {{ '}}' }}
{% elif field_schema.format in ['datetime'] %}
{{ '{{' }} {{ field_path }}|datetime if {{ field_path }} is not none else '-' {{ '}}' }}
{% elif field_schema.format in ['date'] %}
{{ '{{' }} {{ field_path }}|date if {{ field_path }} is not none else '-' {{ '}}' }}
{% elif field_schema.format in ['select', 'buttongroup'] %}
{{ '{% if' }} {{ field_path }} is not none {{ '%}' -}}
{% if field_name == 'status' %}<span class="text-{{ '{{' }} {{ field_path }}|tocolor {{ '}}' }} mr-2">●</span>{% endif %}
{% if field_schema.enum %}{{ '{{' }} enum_titles('{{ field_schema.py_type }}')[{{ field_path }}] {{ '}}' }}{% else %}{{ '{{' }} {{ field_path }} {{ '}}' }}{% endif %}
{{ '{% else %}-{% endif %}' }}
{% elif field_schema.format in ['avatar'] %}
<div class="avatar avatar-sm">
    <img src="{{ '{{' }} {{ field_path }} or '' {{ '}}' }}" alt="..." class="avatar-img rounded-circle {{ '{{' }} 'd-none' if not {{ field_path }} {{ '}}' }}">
    {% filter right(4) %}{{ fallback }}{% endfilter %}
</div>
{% elif field_schema.format in ['image'] %}
<div class="avatar avatar-sm avatar-4by3">
    <img src="{{ '{{' }} {{ field_path }} or '' {{ '}}' }}" alt="..." class="avatar-img rounded {{ '{{' }} 'd-none' if not {{ field_path }} {{ '}}' }}">
    {% filter right(4) %}{{ fallback }}{% endfilter %}
</div>
{% elif field_schema.format in ['link'] %}
<a href="{{ '{{' }} {{ field_path }} or 'javascript:;' {{ '}}' }}" target="_blank"><i class="fe fe-external-link mr-2"></i></a>
{% else %}
{{ '{{' }} {{ field_path }} or '-' {{ '}}' }}
{% endif %}
{% endif %}
{% endmacro %}
{# * #}
{# * macro - display columns in table #}
{# * #}
{% macro display_table_columns(row_path, row_schema, fields, excludes=[], row_target_url=none) %}
{% set title_field_name = fields|match('title|name|\\w*name') %}
{% for field_name in fields if field_name not in excludes %}
{% set field_path = row_path~'.'~field_name %}
{% set field_schema = row_schema.properties[field_name] %}
{% set field_enum = field_schema['items'].py_type if field_schema.type == 'array' and field_schema['items'].enum else (field_schema.py_type if field_schema.enum else '') %}
{% set fallback = none %}
{% if field_schema.format in ['image', 'avatar'] %}
    {% set fallback %}<span fallback={{ title_field_name }} class="avatar-title bg-primary-soft rounded{{ '-circle' if field_schema.format == 'avatar' }} text-primary {{ '{{' }} 'd-none' if {{ field_path }} {{ '}}' }}">{{ '{{' }} {{ row_path~'.'~title_field_name }}|first|upper if {{ row_path~'.'~title_field_name }} is not none {{ '}}' }}</span>
    {% endset %}
{% endif %}
<td name="{{ field_name }}" format="{{ field_schema.format }}" enum="{{ field_enum }}">
    {% if row_target_url and loop.first and field_schema.format != 'link' %}
    <a href="{{ row_target_url }}">
    {% endif %}
    {% filter right(4) %}{{ display_inline(field_name, field_path, field_schema, fallback)}}{% endfilter %}
    {% if row_target_url and loop.first %}
    </a>
    {% endif %}
</td>
{% endfor %}
{% endmacro %}
{# * #}
{# * macro - display list-group-item in a list-group #}
{# * #}
{% macro display_list_group_items(item_path, item_schema, fields, excludes=[]) %}
{% set title_field_name = fields|match('title|name|\\w*name') %}
{% for field_name in fields if field_name not in excludes %}
{% set field_path = item_path~'.'~field_name %}
{% set field_schema = item_schema.properties[field_name] %}
{% set field_enum = field_schema['items'].py_type if field_schema.type == 'array' and field_schema['items'].enum else (field_schema.py_type if field_schema.enum else '') %}
{% set fallback = none %}
{% if field_schema.format in ['image', 'avatar'] %}
    {% set fallback %}<span fallback={{ title_field_name }} class="avatar-title bg-primary-soft rounded{{ '-circle' if field_schema.format == 'avatar' }} text-primary {{ '{{' }} 'd-none' if {{ field_path }} {{ '}}' }}">{{ '{{' }} {{ item_path~'.'~title_field_name }}|first|upper if {{ item_path~'.'~title_field_name }} is not none {{ '}}' }}</span>
    {% endset %}
{% endif %}
<div class="list-group-item">
    <div class="row align-items-center">
        <div class="{{ 'col-auto' if field_schema.unit == '%' else 'col'}}">
            <span>{% if field_schema.icon %}<i class="fe fe-{{ field_schema.icon }} mr-2"></i>{% else %}<i class="mx-3"></i>{% endif %}{{ field_schema.title}}{{ '('~field_schema.unit~')' if field_schema.unit and field_schema.unit != '%' }}{% if field_schema.description %}<i class="fe fe-help-circle ml-2" data-toggle="tooltip" data-placement="top" title="{{ field_schema.description }}"></i>{% endif %}</span>
        </div>
        {% if field_schema.unit == '%'  %}
        <div class="col" name="{{ c }}" format="{{ field_schema.format }}">
            <div class="progress progress-sm">
                <div class="progress-bar" role="progressbar" style="width:{{ '{{' }} {{ field_path }} or 0 {{ '}}' }}%;" aria-valuenow="{{ '{{' }} {{ field_path }} or 0 {{ '}}' }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        {% endif %}
        <div class="col-auto text-muted" name="{{ field_name }}" format="{{ field_schema.format }}" enum="{{ field_enum }}">
            {% filter right(12) %}{{ display_inline(field_name, field_path, field_schema, fallback) }}{% endfilter %}
        </div>
    </div>
</div>
{% endfor %}
{% endmacro %}
{# * #}
{# * macro - display format #}
{# * #}
{% macro display_format(field_name, field_path, field_schema, field_layout, field_format, is_in_card, show_label=true) %}
{# summary do not have .field-group #}
{% if field_format == 'summary' %}
{% include '__includes/display_summary.html' %}
{# other format or relation #}
{% else %}
{% set format_file = '__includes/display_' ~ field_format ~ '.html' %}
<div class="field-group {{ field_schema.type~'-'~field_format }}{{ ' relation' if field_schema.is_relation }}{{ ' row' if view_is_horizontal }}">
    {% if show_label %}
    <label class="text-gray-700{{ ' col-auto col-field-label' if view_is_horizontal }}">{{ field_schema.title }}{{ '('~field_schema.unit~')' if field_schema.unit }}</label>
    {% endif %}
    {% if view_is_horizontal %}
    <div class="col">
    {% endif %}
    {% if exists(format_file) %}
    {% filter right(4) %}{% include format_file %}{% endfilter %}
    {% elif field_schema.is_relation %}
    {% filter right(4) %}{% include '__includes/display_relation.html' %}{% endfilter %}
    {% else %}
    {% filter right(4) %}{% include '__includes/display_*.html' %}{% endfilter %}
    {% endif %}
    {% if view_is_horizontal %}
    </div>
    {% endif %}
</div>
{% endif %}
{% endmacro %}
{# * #}
{# * macro - display tab #}
{# * each row will be rendered as a tab #}
{# * #}
{% macro display_tab(field_name, field_path, field_schema, field_layout, field_format, is_in_card) %}
<div class="{{ 'card-header' if is_in_card }}">
    <ul class="nav nav-tabs nav-tabs-lg {{ 'card-header-tabs' if is_in_card }}">
    {% for row in field_layout %}
        {% set tab_column = row[0] %}
        {# use column's title or first column's schema title #}
        {% set tab_schema = field_schema.properties[tab_column['name']] or {} %}
        {% set tab_title = tab_column.params.title if tab_column.params.title else tab_schema.title %}
        <li class="nav-item">
            <a class="nav-link{{ ' active' if loop.first }}" data-toggle="tab" href="#tab-{{ field_name }}-{{ loop.index }}">
                {{ tab_title }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
<div class="{{ 'card-body' if is_in_card }}">
    <div class="tab-content">
    {% for row in field_layout %}
        <div class="tab-pane{{ ' active' if loop.first }}" id="tab-{{ field_name }}-{{ loop.index }}">
            {# use [row] as layout to render #}
            {% filter right(12) %}{{ render_layout(field_name, field_path, field_schema, [row], is_in_card) }}{% endfilter %}
        </div>
    {% endfor %}
    </div>
</div>
{% endmacro %}
{# * #}
{# * macro - display field #}
{# * NOTE: field_name/field_path/field_schema/field_layout/is_in_card are used in __includes snippets, can not change their names #}
{# * #}
{% macro display_field(field_name, field_path, field_schema, field_layout, field_format, is_in_card, show_label) %}
{# object field #}
{% if field_schema.type == 'object' %}
<div class="object{{ ' relation' if field_schema.is_relation }}" name="{{ field_name }}" format="{{ field_format }}">
{# object card logic #}
{# 1. object is card by default and do NOT draw cards inside a card #}
{% set object_is_card = not is_in_card %}
{# summary format has special card-body logic, do not create card-body #}
{% set object_has_body = false if field_format in ['summary'] else true %}
{% set object_show_label = true %}
{% if object_is_card %}
    <div class="card"><div class="card-header"><h4 class="card-header-title">{% if field_schema.icon %}<i class="fe fe-{{ field_schema.icon }} mr-2"></i>{% endif %}{{ field_schema.title }}</h4></div>{% if object_has_body %}<div class="card-body">{% endif +%}
    {% set object_show_label = false %}
{% else %}
    {% set object_show_label = show_label %}
{% endif %}
{# w/ format or relation #}
{% if field_format or field_schema.is_relation %}
    {% filter right(4) %}{{ display_format(field_name, field_path, field_schema, field_layout, field_format, is_in_card or object_is_card, object_show_label) }}{% endfilter %}
{# w/o format #}
{% else %}
    {{ '{%' }} set {{ field_name }} = {{ field_path }} {{ '%}' }}
    {% filter right(4) %}{{ display_layout(field_name, field_name, field_schema, field_layout, is_in_card or object_is_card) }}{% endfilter %}
{% endif %}
{% if object_is_card %}
    {%+ if object_has_body %}</div>{% endif %}</div>
{% endif %}
</div>
{# array field #}
{% elif field_schema.type == 'array' %}
<div class="array{{ ' relation' if field_schema.is_relation }}" name="{{ field_name }}" format="{{ field_format }}">
{# array card logic #}
{# 1. array in formats(table/modal/chart/media/timeline) is card by default and do NOT draw cards inside a card #}
{% set array_is_card = not is_in_card and field_format in ['table', 'modal', 'chart', 'media', 'timeline', 'calendar'] %}
{# below formats use .table-responsive(w/o x-padding) instead of .card-body #}
{% set array_card_body_class = 'table-responsive' if field_format in ['table', 'modal', 'chart'] else 'card-body' %}
{% set array_show_label = true %}
{% if array_is_card %}
    <div class="card"><div class="card-header"><h4 class="card-header-title">{% if field_schema.icon %}<i class="fe fe-{{ field_schema.icon }} mr-2"></i>{% endif %}{{ field_schema.title }}</h4></div><div class="{{ array_card_body_class }}">
    {% set array_show_label = false %}
{% else %}
    {% set array_show_label = show_label %}
{% endif %}
{# w/ format or relation #}
{% if field_format or field_schema.is_relation %}
    {% filter right(4) %}{{ display_format(field_name, field_path, field_schema, field_layout, field_format, is_in_card or array_is_card, array_show_label) }}{% endfilter %}
{# w/o format #}
{% else %}
    {% set item_schema = field_schema['items'] %}
    <div class="array-items">
        {{ '{%' }} for {{ field_name }}_item in {{ field_path }} {{ '%}' }}
        <div class="array-item {{ item_schema.type }}" name="-" format="{{ item_schema.format }}">
            {# simple types always have a format, this also handle objects that have format #}
            {% if item_schema.format %}
            {% filter right(12) %}{{ display_format('-', field_name~'_item', item_schema, field_layout, is_in_card or array_is_card, array_show_label) }}{% endfilter %}
            {% elif item_schema.type == 'object' %}
            {% filter right(12) %}{{ display_layout('-', field_name~'_item', item_schema, field_layout, is_in_card or array_is_card) }}{% endfilter %}
            {% else %}
            UNSUPPORTED! {{ item_schema.type }} with format {{ item_schema.format }} can not in an array!
            {% endif %}
        </div>
        {{ '{%' }} else {{ '%}' }}
        <div class="array-item">
            <div class="alert alert-light mb-0"><i class="fe fe-alert-circle mr-2"></i>__(No ){{ item_schema.title }}__(!)</div>
        </div>
        {{ '{%' }} endfor {{ '%}' }}
    </div>
{% endif %}
{% if array_is_card %}
    </div></div>
{% endif %}
</div>
{# simple field, always having a format #}
{% else %}
{# simpe field card logic #}
{# 1. metric is card by default and do NOT draw cards inside a card #}
{% set simple_is_card = not is_in_card and field_format in ['metric'] %}
{% set simple_show_label = true %}
{% if simple_is_card %}
<div class="card"><div class="card-body">
{% set simple_show_label = false %}
{% else %}
{% set simple_show_label = show_label %}
{% endif %}
{% filter right(0) %}{{ display_format(field_name, field_path, field_schema, field_layout, field_format, is_in_card or simple_is_card, simple_show_label) }}{% endfilter %}
{% if simple_is_card %}
</div></div>
{% endif %}
{% endif %}
{% endmacro %}
{# * #}
{# * macro - display layout for an object, a group or a list item object recrusively #}
{# * NOTE: field_name/field_path/field_schema/field_layout/is_in_card are used in __includes snippets, can not change their names #}
{# * #}
{% macro display_layout(field_name, field_path, field_schema, field_layout, is_in_card, is_first_level=false) %}
{# NOTE: render_controls is a global var(namespace) defined in {{views}}.html.jinja2, we need to use namespace to set some value in a loop #}
{% set render_controls.column_count = 0 %}
{% for row in field_layout %}
    {% for column in row %}
        {% set render_controls.column_count = render_controls.column_count + 1 %}
    {% endfor %}
{% endfor %}
{# show label logic #}
{# 1. if only one column in layout and is in card, do NOT show label #}
{% set show_label = not (is_in_card and render_controls.column_count == 1) %}
{# per row #}
{% for row in field_layout %}
<div class="row">
{# per column #}
{% for column in row %}
    {% set column_name = column['name'] %}
    {% set column_path = field_path~'.'~column_name %}
    {% set column_schema = field_schema.properties[column_name] or {} %}
    {% set column_layout = column['rows'] %}
    {# column format overwrites schema format #}
    {% set column_format = column.format or column_schema.format %}
    {% set column_class = 'col-lg' if is_first_level else 'col' %}
    {# column wrapper #}
    <div class="{{ (column_class~'-'~column.span|string) if column.span else column_class }}">
    {# blank column #}
    {% if not column_name %}
        {# pass #}
    {# hyphen column #}
    {% elif column_name == '-' %}
        <hr class="my-3">
    {# group column #}
    {% elif column_name|replace('.','')|int(-1) != -1 %}
        <div class="group" name="{{ column_name }}" format="{{ column_format }}">
        {# group card logic #}
        {# 1. group is card by default and do NOT draw cards inside a card #}
        {# 2. if one of its columns is simple field, current group is rendered as card #}
        {% set render_controls.group_has_simple_column = false %}
        {% for r in column_layout %}
            {% for c in r %}
                {% set cn = c['name'] %}
                {% set cs = field_schema.properties[cn] or {} %}
                {# group column #}
                {% if cn|replace('.','')|int(-1) != -1 %}
                    {# group is always rendered as card #}
                {# normal column #}
                {% elif cs %}
                    {% if cs.type in ['object', 'array'] %}
                        {# ojbect/array is always rendered as card #}
                    {% else %}
                        {% set render_controls.group_has_simple_column = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% set group_is_card = not is_in_card and render_controls.group_has_simple_column %}
        {% set group_title = column.params.title %}
        {% set group_icon = column.params.icon or field_schema.icon %}
        {# tab/summary formats has special card-body logic, do not create card-body #}
        {% set group_has_body = false if column_format in ['tab', 'summary'] else true %}
        {% if group_is_card %}
            <div class="card">{% if group_title %}<div class="card-header"><h4 class="card-header-title">{% if group_icon %}<i class="fe fe-{{ group_icon }} mr-2"></i>{% endif %}{{ group_title }}</h4></div>{% endif %}{% if group_has_body %}<div class="card-body">{% endif +%}
        {% endif %}
        {# tab format #}
        {% if column_format == 'tab' %}
            {% filter right(12) %}{{ display_tab(field_name, field_path, field_schema, column_layout, column_format, is_in_card or group_is_card) }}{% endfilter %}
        {# w/ format, i.e, summary #}
        {% elif column_format %}
            {% filter right(12) %}{{ display_format(field_name, field_path, field_schema, column_layout, column_format, is_in_card or group_is_card) }}{% endfilter %}
        {# w/o format #}
        {% else %}
            {% filter right(12) %}{{ display_layout(field_name, field_path, field_schema, column_layout, is_in_card or group_is_card) }}{% endfilter %}
        {% endif %}
        {% if group_is_card %}
            {%+ if group_has_body %}</div>{% endif %}</div>
        {% endif %}
        </div>
    {# make sure column_schema is valid #}
    {% elif not column_schema %}
        UNSUPPORTED! invalid column name: {{ column_name }}!
    {% else %}
        {% filter right(8) %}{{ display_field(column_name, column_path, column_schema, column_layout, column_format, is_in_card, show_label) }}{% endfilter %}
    {% endif %}
    </div>
{% endfor %}
</div>
{% endfor %}
{% endmacro %}