{# * #}
{# * main #}
{# * #}
<div id="div-{{ view.name_kebab }}">
    {% if view_is_card %}
    <div class="card"><div class="card-body">
    {% endif %}
    <div class="object" name="{{ model.name_snake }}">
        {% filter right(8) %}{{ render_layout(false, model.name_snake, model.name_snake, model.schema, view.rows, view_is_card, true) }}{% endfilter %}
    </div>
    {% if view_is_card %}
    </div></div>
    {% endif %}
    {% set target_url = generate_url(model.schema.py_type, model.name_snake, ['query']) %}
    {% if target_url != 'javascript:;' %}
    <div class="mb-4">
    {{ '{%' }} if {{ model.name_snake }}.{{ model.schema.id_name }} {{ '%}' }}
    <a href="{{ target_url }}" class="btn btn-outline-primary mr-2"><i class="fe fe-corner-up-left mr-1"></i>__(Back)</a>
    {{ '{%' }} endif {{ '%}' }}
    </div>
    {% endif %}
</div>
